.carousel-images {
  max-width: 1000px;
  position: relative;
  margin: auto;
  left: 50%;
  top: 50%;
  min-width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

#caption .carousel-caption {
  text-shadow: 3px 3px 20px #0f0d92;
}

#clicker .carousel-indicators li{
  background-color: black;
}
