.carousel-images {
  max-width: 1000px;
  position: relative;
  margin: auto;
  left: 50%;
  top: 50%;
  min-width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.carousel-caption {
  text-shadow: 3px 3px 5px #000000;
}
