.carousel-images {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.carousel-caption {
  text-shadow: 2px 2px 4px #000000;
}
