<!-- docTemplate.apiRow.argument.ejs -->

<div class="api-argument">
	<div class="api-data-bold api-data-important">
		(<%= locals.argument.type %>) <%= " " + locals.argument.name %>
	</div>
	<div>
		<%= locals.argument.desc %>
	</div>
</div>
