<!-- docTemplate.apiRow.returnval.ejs -->

<div class="api-return-value">
	<div class="api-data-bold api-data-important">
		<%= locals.rval.condition %>:
	</div>
	<div>
		<%= locals.rval.desc %>
	</div>
</div>