.Page .card{
  height: auto;
  width: auto;
}

.SubTitle {
  padding-top: 0px;
  padding-left: 20px;
}

.description {
  padding-top: 5px;
  padding-left: 7px;
}

#rowCSS{
	padding-top: 20px;
	padding-bottom: 10px;
}
