/* 
#body
{
  min-height: 100vh;

  width:360px;
  height:580px;
  padding: 80px 40px;
  border-radius: 10px;

  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-5%);
} */

#body h1
{
  text-align: center;
  margin-bottom: 60px;
}

.txtb
{
  border-bottom: 2px solid #16CDC2;
  position: relative;
  margin: 30px 0;
}

.txtb input
{
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
  border-color: RED;
}

#loginBtn
{
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background-image: linear-gradient(90deg,#16CDC2,WHITE);
  background-size: 200%;
  outline: none;
  cursor: pointer;
  transition: .5s;
}

#loginBtn:hover
{
  background-position: bottom;
}

#SignUp
{
  margin-top: 60px;
  text-align: center;
  font-size: 20px;
}

#img
{
  width: 300px;
  height: 300px;
  position: relative;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  top: -20px;
}

.form-card-login {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 20%;
  min-width: 400px;
  
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  padding: 1.5rem;
  background: white;
  flex: none;

  margin: 0;
  justify-content: center;
}