.membership-form {
    width: 40%;
}

#membership-plan-btn {
    align-items: center;
    justify-content: center;
}

.transition-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.add-acc, .add-acc:hover, .add-acc[disabled] {
    background-color: rgb(199, 153, 88);
    width: fit-content;
}

.membership-plan-row {
    justify-content: space-evenly;
}

.active-plan .membership-price {
    background-color: rgb(96, 122, 121);
}

.membership {
    display: inline-block;
    padding: 5px;
}

.membership-card:hover .membership-price {
    background-color: rgb(163, 166, 179);
    cursor: pointer;
}

.img {
    height: 200px;
    width: 100%;
}

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0ms;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 0ms;
}

#change-and-select-btns .membership-price {
    background-color: #e1f5fe;
    border-color: black;
    color: black;
}

#submit-btn {
    background-color: #298abb;
    border-color: black;
    color: black;
}

.card {
    transition: 0.3s;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    align-self: center;
    font-size: large;
    background-color: transparent;
    min-width: 200px;
    max-width: 100%
}

.container {
    text-align: center;
}

.p {
    align-items: center;
    text-align: center;
}

.q {
    align-items: center;
    text-align: center;
}

.benefitsTitle {
    margin-top: 30px;
    margin-bottom: 25px;
}

.background {
    background-image: url('./assets/background.png');
    min-width: 100%;
    min-height: 100%;
    block-size: auto;
}

.greet {
    padding-top: 20px;
    font-weight: lighter;
    font-size: 85px;
    color: white;
}

.membership-card {
    width: 50%;
    padding: 30px;
    text-align: center;
}

.membership-heading {
    background-color: #d19a52;
    color: white;
    text-align: center;
    font-size: 30px;
}

.membership-price {
    background-color: rgb(214, 216, 193);
    padding: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: lighter;
}

#container-membership-plan {
    position: relative;
}

.expiration {
    font-size: 15px;
    color: rgb(32, 25, 25);
    margin-top: 15px;
    margin-bottom: 5px;
}

.deets {
    font-size: 17px;
    color: rgb(32, 25, 25);
    margin-top: 15px;
    margin-bottom: 5px;
}

.membership-benefits {
    border-bottom: 1px solid lightGrey;
    margin: 10px;
    padding: 1%;
    background-color: rgb(245, 238, 207);
}

.benefit-block div {
    position: center;
    height: 250px;
    width: 100%;
    text-align: center;
}

.how-to-join-block {
    background-color: #d1a56c;
    color: white;
    height: 100%;
    width: 100%;
    font-size: 40px;
    padding: 30px 0;
}

.why-join-block {
    background-color: #f0c286;
    font-size: 40px;
    font-weight: lighter;
    height: 100%;
    width: 100%;
    position: center;
    padding: 10px 0;
}

.top-chunk {
    padding: 30px;
    padding-top: 0px;
    width: 100%;
    height: 100%;
    min-width: 40%;
    text-align: center;
}

.grid {
    display: grid;
    color: black;
    gap: 2rem;
    text-align: center;
    position: center;
}
