/* BEGIN general styles */
div.membership-application > h1.page-title {
    text-align: center;
    background-color: #B2EBF2;
}
/* END general styles */

/* BEGIN form styles */
div.membership-application > form {
    /* background-color: lightgray; */
    margin: 10px;
}
div.membership-application > form > div.form-group > label {
    padding-top: 0.5em;
    padding-left: 0.5em;
}
div.membership-application > form > div.form-group > input {
    float: right;
    max-width: 80%;
}
/* END form styles */

/* BEGIN *notice styles */
div.membership-application > div.notice {
    vertical-align: bottom;
    margin: 10px;
    font-size: 72%;
    color: lightgray;
}
div.membership-application > div.notice > .critical {
    color: red;
    font-weight: bold;
}
div.membership-application > div.notice > .important {
    font-weight: bold;
}
/* END *notice styles */

/* BEGIN username availability notice styles */
div.username-availability {
    font-style: italic;
    display: inline-block;
    text-align: left;
    width: 100%;
    vertical-align: top;
    padding-bottom: 1em;
    padding-left: 1em;
}
div.username-availability.available {
    color: lightgreen;
}
div.username-availability.unavailable {
    color: red;
    font-weight: 500;
}
/* .{
    color:red;
} */
.page-form{
    width: 50%;
    margin: 30px;
    height: 100%;
    justify-content: flex-end;
    /* color: red */
}/* END username availability notice styles */
.row{
    display: flex;
    justify-content: center;
}