#membership {
  width: 100%;
  padding: 0;
  margin: 0;
}

.form-card {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  min-width: 400px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  padding: 1.5rem;
  background: white;
  flex: none;
  overflow: hidden;
}

.membership-info {
  width: 40%;
  float: left;
  min-width: 625px;
  font-size: 500%;
  color: white;
  background-color: rgba(173, 169, 169, 0.3);
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(0, 50%);
  height: 50%;
  vertical-align: middle;
  padding: 2rem;
  padding-bottom: 0rem;
}

#membership-plan-btn {
  align-items: center;
  justify-content: center;
}

.transition-button-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.unavailable {
  color: red;
  font-weight: 500;
}

#name-field-row {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  margin-top: 10px;
}

.membership-plan-row {
  justify-content: space-evenly;
}

.active-plan .membership-price {
  background-color: rgb(96, 122, 121);
}

.email-input {
  width: 100%;
}

#email-input-container {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.membership {
  display: inline-block;
  padding: 5px;
}

.membership-card:hover .membership-price {
  background-color: rgb(163, 166, 179);
  cursor: pointer;
}

.img {
  height: 200px;
  width: 100%;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

.recaptcha {
  margin: 20px 20px 0px 0px;
}

#change-and-select-btns {
  background-color: #aecfe2;
  border: none;
  color: black;
}

#change-and-select-btns:hover {
  background-color: #87b0c7;
  color: white;
}

#submit-btn {
  background-color: #6592ac;
  border: none;
  color: black;
}

#submit-btn:hover:enabled {
  color: white;
}

#login {
  width: 100%;
  display: inline-block;
  text-align: center;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./assets/background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 850px;
}
