@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');

.planBody {
  background-color: black;
  margin-top: 55px;
}

.white-text {
  color: white;
}

#application-header {
  text-align: center;
  color: white;
  font-family: 'Mina', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 52px;
  letter-spacing: 0.085em;
}

#application-h2 {
  text-align: center;
  color: #FCA311;
  font-family: 'Mina', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

#application-dropdown {
  text-align: left;
  font-family: 'Mina', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: white;
  padding: 10px;
}

.application-text {
  line-height: 12px;
  font-family: 'Mina', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: white; 
}

.application-form-group input[type="text"],
.application-form-group input[type="email"],
.application-form-group input[type="password"],
.application-form-group textarea {
  background: rgba(171, 201, 207, 0.69);
  border-radius: 10px;
  font-family: 'Mina', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: white;
}

.application-form-group label {
  color: white;
}

.application-form-group input[type="text"]::placeholder,
.application-form-group input[type="email"]::placeholder,
.application-form-group input[type="password"]::placeholder,
.application-form-group textarea::placeholder {
  color: white;
}


@media only screen and (min-width: 1000px) {
  .planContainer {
    display: flex;
    position: relative;
    padding-top: 7%;
    padding-bottom: 3%;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1000px) {
  .planContainer {
    display: flex;
    position: relative;
    padding-top: 20%;
    padding-bottom: 10%;
    flex-wrap: wrap;
  }
}

.planHeaders {
  color: #fca311;
  font-size: 33px;
  font-family: 'Mina', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 30px;
}

.planFooters {
  color: white;
  font-size: 24px;
  font-family: 'Mina', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 30px;
}


.form-card {
  margin: auto;
  min-width: 350px;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 1.5rem;
}

.form-card2 {
  margin: auto;
  min-width: 400px;
  left: 50%;
  background: black;
  padding: 1.5rem;
}

#membership-plan-btn {
  align-items: center;
  justify-content: center;
}

.transition-button-wrapper {
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.unavailable {
  color: red;
  font-weight: 500;
}

#name-field-row {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  margin-top: 10px;
}

.membership-plan-row {
  justify-content: space-evenly;
}

.active-plan .membership-price {
  background-color: rgb(96, 122, 121);
}

.application-form-group {
  padding: 0 0 15px 0;
}

.email-input {
  width: 100%;
}

#email-input-container {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

#major-input-container {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

.passwordRequirementValid {
  list-style: none;
  color: mediumseagreen;
}

.passwordRequirementInvalid {
  list-style: none;
  color: crimson;
}

.passwordRequirementValid::before {
  display: inline-block;
  width: 2ch;
  text-align: center;
  position: relative;
  left: -1em;
  content: "\2714";
}

.passwordRequirementInvalid::before {
  display: inline-block;
  width: 2ch;
  text-align: center;
  position: relative;
  left: -1em;
  content: "\2716";
}

.membership {
  display: inline-block;
  padding: 5px;
}

.membership-card:hover .membership-price {
  background-color: rgb(163, 166, 179);
  cursor: pointer;
}

.img {
  height: 200px;
  width: 100%;
}

.circle {
  position: relative; 
  line-height: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #b3cbd1;
}

.circle-text {
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-family: 'Mina', sans-serif;
  font-style: normal;
  font-weight: normal;
}


#change-and-select-btns {
  background-color: #ABC9CF;
  border: none;
  color: black;
  font-family: 'Mina', sans-serif;
}

#change-and-select-btns:hover {
  background-color: #ABC9CF;
  color: white;
}

#submit-btn {
  background-color: #FCA311;
  border: none;
  color: white;
}

.submit-btn {
  background-color: #FCA311;
  width: fit-content;
  border-radius: 20px;
  font-family: 'Mina', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.center {
  position: relative;
  padding-left: 90px;
}

#submit-btn:hover:enabled {
  color: white;
}

#login {
  width: 100%;
  display: inline-block;
  text-align: center;
}

#recaptcha {
  margin: 20px 20px 0px 0px;
}