@media only screen and (min-width: 1000px) {
  loginbackground {
    background-color: black;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-height: 150vh;
    position: absolute;
  }
}

@media only screen and (max-width: 1000px) {
  loginbackground {
    background-color: black;
    width: 100%;
    height: 200%;
    position: absolute;
  }
}


#membership {
  width: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Mina;
  src: url(Mina-Regular.ttf)
}

h1 {
  text-align: center;
  color: white;
  font-family: Mina;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 52px;
  letter-spacing: 0.085em;
}

h2 {
  text-align: center;
  color: #FCA311;
  font-family: Mina;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

h6 {
  text-align: left;
  font-family: Mina;
  font-style: normal;
  font-weight: normal;
  color: white;
  margin-top: 10px;
}

p {
  line-height: 12px;
  font-family: Mina;
  font-style: normal;
  font-weight: normal;
  color: white; 
}

.semesterPlan {
  text-align: center;
  font-family: Mina;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 52px;
  color: #FCA311;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  background: rgba(171, 201, 207, 0.69);
  border-radius: 10px;
  font-family: Mina;
  font-style: normal;
  font-weight: normal;
  color: white;
}

label {
  color: white;
}

input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="password"]::placeholder, textarea::placeholder {
  color: white;
}


@media only screen and (min-width: 1000px) {
  .planContainer {
    display: flex;
    position: relative;
    /* margin-top: auto; */
    top: 15%;
    flex-wrap: wrap;
    /* justify-content: space-around; */
  }
}
@media only screen and (max-width: 1000px) {
  .planContainer {
    display: flex;
    position: relative;
    /* margin-top: auto; */
    top: 7%;
    flex-wrap: wrap;
    /* justify-content: space-around; */
  }
}

.planHeaders {
  color: #fca311;
  font-size: 33px;
  font-family: Mina;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 30px;
}

.planFooters {
  color: white;
  font-size: 24px;
  font-family: Mina;
  font-style: normal;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 30px;
}


.form-card {
  /* position: absolute;
  margin: auto;
  left: auto;
  top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 35%;
  min-width: 400px; */
  margin: auto;
  min-width: 400px;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 1.5rem;
  background: #12262F;
  /* overflow: hidden; */
}

.form-card2 {
  /* position: absolute;
  left: 50%;
  width: 35%;
  min-width: 400px;
  border-radius: 20px;
  padding: 1.5rem; */
  margin: auto;
  min-width: 400px;
  left: 50%;
  background: black;
  padding: 1.5rem;
  /* overflow: hidden; */
}

.vertical-line {
  border-left: 10px dashed white;
  height: 965px;
  position: absolute;
  left: 50%;
}

.dashedSpace {
  position: absolute;
  top: 50%;
  left: 50%;
  width:10px;
  height:350px;
  margin-top:10px;
  background-image:linear-gradient(0deg, white 0%, white 50%, transparent 50%);
  background-size:28px 1px;
  background-repeat:repeat-x;
}

.membership-info {
  width: 40%;
  float: left;
  min-width: 500px;
  font-size: 500%;
  color: white;
  background-color: rgba(173, 169, 169, 0.3);
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(0, 50%);
  height: 50%;
  vertical-align: middle;
  padding: 2rem;
  padding-bottom: 0rem;
}

#membership-plan-btn {
  align-items: center;
  justify-content: center;
}

.transition-button-wrapper {
  /* display: flex; */
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.unavailable {
  color: red;
  font-weight: 500;
}

#name-field-row {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  margin-top: 10px;
}

.membership-plan-row {
  justify-content: space-evenly;
}

.active-plan .membership-price {
  background-color: rgb(96, 122, 121);
}

.email-input {
  width: 100%;
}

#email-input-container {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

#major-input-container {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

.passwordRequirementValid {
  list-style: none;
  color: mediumseagreen;
}

.passwordRequirementInvalid {
  list-style: none;
  color: crimson;
}

.passwordRequirementValid::before {
  display: inline-block;
  width: 2ch;
  text-align: center;
  position: relative;
  left: -1em;
  content: "\2714";
}

.passwordRequirementInvalid::before {
  display: inline-block;
  width: 2ch;
  text-align: center;
  position: relative;
  left: -1em;
  content: "\2716";
}

.membership {
  display: inline-block;
  padding: 5px;
}

.membership-card:hover .membership-price {
  background-color: rgb(163, 166, 179);
  cursor: pointer;
}

.img {
  height: 200px;
  width: 100%;
}

.circle {
  position: relative; 
  line-height: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #b3cbd1;
}

.circle-text {
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-family: Mina;
  font-style: normal;
  font-weight: normal;
}


#change-and-select-btns {
  background-color: #ABC9CF;
  border: none;
  color: black;
  font-family: Mina;
}

#change-and-select-btns:hover {
  background-color: #ABC9CF;
  color: white;
}

#submit-btn {
  background-color: #FCA311;
  border: none;
  color: white;
}

.submit-btn {
  background-color: #FCA311;
  width: fit-content;
  border-radius: 20px;
  font-family: Mina;
  font-style: normal;
  font-weight: normal;
}

.center {
  position: relative;
  left: 35%;
}

#submit-btn:hover:enabled {
  color: white;
}

#login {
  width: 100%;
  display: inline-block;
  text-align: center;
}

#recaptcha {
  margin: 20px 20px 0px 0px;
}