.UserManager {
  text-align: center;
}

.active {
  color: white;
  background-color: black;
}

h2 {
  display: inline-flex;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.search-row {
  display: inline-flex;
}

.search-bar {
  width: 700px;
}