.email-template {
  margin-top: 20px;
  padding: 0 15px;
  width: 100%;
}

#email-message {
  border-radius: 6px;
  background-color: white;
  margin-top: 15px;
  padding: 15px 25px;
  height: flex;
  overflow-y: auto;
}

#email-message p {
  display: inline-block;
}

#copy-notification2 {
  display: none;
  padding-top: 10px;
  color: rgb(2, 107, 126);
}

#email-template-button {
  background-color: rgb(2, 107, 126);
  color: white;
  margin-right: 8px;
  border-color: rgb(108, 117, 125); 
}

#email-template-button:hover:enabled {
  background-color: rgb(2, 118, 138);
  border-color: rgb(84, 91, 98); 
}

#email-conf-button {
  background-color: rgb(2, 107, 126);
  color: white;
  border-color: rgb(108, 117, 125); 
}

#email-conf-button:hover {
  background-color: rgb(2, 118, 138);
  border-color: rgb(84, 91, 98); 
}
