.container {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 2s;
  padding: 0px !important;
  max-width: 100%;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.wrapper {
  position: relative;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-items: center;
  margin: 4.5%;
  row-gap: 5%;
  z-index: 1;
}

.rectangle {
  height: 150px;
  width: 100%;
  background-color: #FFFFFF;
  opacity: 70%;
  z-index: 2;
  position: absolute;
}

.header {
  width: auto;
  max-height: 100%;
  max-width: 100%;
  margin-top: 4.2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 3.2rem;
  font-weight: 3.5;
  line-height: 150%;
  text-align: center;
  opacity: 100%;
}

.carouselImg {
  display: block;
  margin: auto;
  width: 100%;
  height: 860px;
  position: relative;
  object-fit: cover;
  box-shadow: 1px 1px 7px 0 #000000;
  overflow: visible;
  transition: none 0ms ease;
  -o-object-fit: cover;
}

.carousel {
  max-width: 100%;
  margin-bottom: 6%;
  height: auto;
  border: 3px black;
}

.carousel-indicators .active {
  background-color: black;
}

.carousel .carousel-indicators li{
  background-color: black;
}

.arrow-down {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.arrow-down::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: -870px;
  left: 0;
  border-right: 4px solid #000000;
  border-bottom: 4px solid #000000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: 3s arrow infinite ease;
  animation: 3s arrow infinite ease;
}

@-webkit-keyframes arrow {
  0%, 100% {
    top: 50px;
  }
  50% {
    top: 80px;
  }
}

@keyframes arrow {
  0%, 100% {
    top: 50px;
  }
  50% {
    top: 80px;
  }
}

.singleImage {
  height: 320px;
  width: 450px;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  object-fit: cover;
  box-shadow: 1px 1px 7px 0 #000000;
  opacity: 1;
  transition: 0.5s;
  transform: scale(
    1.0
  );
}

.singleImage:hover {
  opacity: .8;
  transition: 0.5s;
  transform: scale(
    1.1
  ); 
}

.modalImage {
  width: 100%;
  position: relative;
}
.modal-body {
  padding: 0px !important;
}

.modal-content {
  border: 0px !important;
}

.section {
  padding-bottom: 20rem;
}
