.name {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: initial;
}

.layout {
  padding-top: 32px;
  margin: 10px auto;
  width: 700px;
}

.title {
  min-height: 100%;
  min-width: 100%;
  text-align: center;
  font-weight: 300;
  font-variant-caps: all-small-caps;
}

.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  max-width: 700px;
  min-width: 700px;
}

.content-table thead tr {
  background-color: #3a5f7f;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

thead.td {
  text-align: center;
}

.content-table td,
.content-table th {
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.input-overview {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  initial-letter-align: left;
  font-size: smaller;
  font-style: italic;
}

.submit-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 500px;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button,
.overview-icon {
  background-color: transparent;
  outline: none;
  border: none;
  color: grey;
  animation: reverse;
  padding: 5px;
  border-radius: 20px;
  margin: 5px;
}

.overview-icon:hover {
  padding: 5px;
  border-radius: 20px;

  outline: none;
  color: red;
  animation: reverse;
  cursor: pointer;
}

.icon-button:hover {
  cursor: pointer;
  padding: 5px;
  border-radius: 20px;
  outline: none;
  color: rgb(8, 185, 117);
  animation: reverse;
}

#search-tag {
  display: inline;
}

#view-email-button {
  border-color: rgb(2, 107, 126);
  color: rgb(2, 107, 126);
  margin-left: 8px;
}

#view-email-button:hover {
  background-color: rgb(2, 107, 126);
  color: white;
}

#users-header {
  color: black;
}
