.name{
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: initial;
}

.layout{
  margin: 10px auto;
  width:700px
}

h1{
  text-align: center;
  font-weight: 300
}

.content-table{
  border-collapse: collapse;
  margin: 25px;
  font-size: 0.9em;
  max-width: 700px;
  min-width: 700px;
}

.content-table thead tr{
  background-color:#328ba8;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

thead.td{
  text-align: center;
}

.content-table td,
.content-table th{
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 12px 15px;
}

.content-table tbody tr{
  border-bottom: 1px solid #dddddd
}

.content-table tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}

.input-overview{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  initial-letter-align: left
}

.submit-button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 500px;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button,
.delete{

  background-color: transparent;
  outline: none;
  border:none;
  color:grey;
  animation: reverse;
  padding: 5px;
  border-radius: 20px;
  margin: 5px
}

.delete:hover{
  padding: 5px;
  border-radius: 20px;

  outline: none;
  color:red;
  animation: reverse;
  cursor:pointer;
}

.icon-button:hover{
  cursor:pointer;
  padding: 5px;
  border-radius: 20px;
  outline: none;
  color:rgb(8, 185, 117);
  animation: reverse;
}

#search-tag {
  display: inline;
}
