.layout {
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
  right: 50%;
  width: 90vw;
}

.overview-center {
  display: table-cell; 
  vertical-align: middle;
  justify-content: center;
}

.overview-search-container {
  padding-top: 20px;
  flex-direction: column;
  float: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.pagination-control {
  position: absolute;
  padding-top: 10px;
  right: -72em;
  position: relative;
  width: 9em;
}

.input-overview {
  width: 100%;
  padding: 12px 20px;
  /* margin: 8px 0px; */
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  initial-letter-align: left;
  font-size: smaller;
  font-style: italic;
}

.icon-button,
.overview-icon {
  background-color: transparent;
  outline: none;
  border: none;
  color: grey;
  animation: reverse;
  padding: 5px;
  border-radius: 20px;
  margin: 5px;
}

#search-tag {
  display: inline;
}

#users-header {
  color: black;
}

.pagination-container {
  float: right;
  margin-top: 10px;
  margin-right: auto;  
}

@media screen and (max-width:600px) {
  .pagination-control {
    right: -52em;
  }
}

.table {
  display: flex;
  flex-flow: column nowrap;
  /* font-size: .8rem; */
  margin: 0.5rem;
  line-height: 1.5;
  flex: 1 1 auto;
}

.th {
  display: none;
  font-weight: bold;
  background-color: #f2f2f2;
}

.th > .td {
  white-space: normal;
  justify-content: center;
  overflow:visible;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.tr:nth-of-type(even) {
  background-color: #f2f2f2;
}

.tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  word-break: break-word;
  overflow: scroll;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
}

.name-cell {
  flex: 2;
  /* flex-grow: 2; */
}

.printing-cell {
  flex: 1;
  /* flex-grow: 2; */
}

.email-cell {
  flex: 3;
  /* flex-grow: 2; */
}

@media screen and (max-width: 1150px) {
  .printing-cell {
    display: none !important;
  }
}

@media screen and (max-width: 950px) {
  .table {
    font-size: 0.9em;
  }
  .table svg {
    transform: scale(0.75);
    /* width: calc(100% - 3vw); */
  }
}

@media screen and (max-width: 870px) {
  .table {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 785px) {
  .table {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 690px) {
  .table {
    font-size: 0.65em;
  }
}

@media screen and (max-width: 645px) {
  .table {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 511px) {
  .table {
    font-size: 0.45em;
  }
}
