.layout {
  padding-top: 70px;
  margin: 10px auto;
  right: 50%;
  width: 90vw;
}

.user-table-body-container {
  height: calc(68vh - 80px);
  /* width: 70vw; */
  overflow: scroll;

  .first-name-cell {
    width: 15em;
    overflow: scroll;
  }
/* calc(100% - 80px); */
  .email-cell {
    width: 23em;
    overflow: scroll;
  }

  .printed-cell {
    width: 5em;
  }
  
  .verified-cell {
    width: 5em;
  }
  .membership-cell {
    width: 7.5em;
  }
  
  .delete-cell {
    width: 4em;
  }
  .edit-cell {
    width: 5em;
  }
}

.user-table-container th {
  /* need uneven spacing, maybe modify array for mapping colukn name? */
  text-align: left;
}

.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  overflow-x: scroll;
  table-layout: fixed;
}

.overview-search {
  width: 66em;
  min-width: 66em;
  overflow: hidden;
}

.overview-container td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.overview-container {
  table {
    margin-left: auto;
    margin-right: auto;
  }
}

.pagination-control {
  position: absolute;
  padding-top: 10px;
  right: -58em;
  position: relative;
  width: 9em;
}

#users-header th {
  border: 1px solid #dddddd;
}

.overview-container tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.input-overview {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  initial-letter-align: left;
  font-size: smaller;
  font-style: italic;
}

.icon-button,
.overview-icon {
  background-color: transparent;
  outline: none;
  border: none;
  color: grey;
  animation: reverse;
  padding: 5px;
  border-radius: 20px;
  margin: 5px;
}

.overview-icon:hover {
  padding: 5px;
  border-radius: 20px;

  outline: none;
  color: red;
  animation: reverse;
  cursor: pointer;
}

.icon-button:hover {
  cursor: pointer;
  padding: 5px;
  border-radius: 20px;
  outline: none;
  color: rgb(8, 185, 117);
  animation: reverse;
}

.flexbox-container-user{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

#search-tag {
  display: inline;
}

#users-header {
  color: black;
}

@media screen and (max-width:600px) {
  .pagination-control {
    width: 13em;
  }  
}
