#container {
	display: flex;
	flex-direction: column;
}

#login_input {
	align-self: center;
}

#login_input input {
	width: 100%;
}

#login_input button {
	width: 49.3%;
}

.jumbotron {
	background-color: blue;
	color: white
}

#about {
	display: flex;
}

.panel {
	flex-direction: column;
	flex: 1;
	margin-left: 1px;
	margin-right: 1px;
}