.left-col h2, .lessons-title {
  text-align: center;
}

.left-col, .lessons-list {
  height: 100vh;
  overflow: scroll;
}

.left-col h2, .breadcrumb {
  word-wrap: break-word;
}

.lessons-list {
  background-color: rgb(221, 221, 221);
}

.md-content img {
  max-width: 90%;
  height: auto;
  object-fit: contain;
}

.lesson-name {
  display: table-cell;
  vertical-align: middle;
  height: 2.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0;
}

.lesson-name-container {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.lesson-name-container:hover {
  background-color: rgba(182, 182, 182, 0.8);
  cursor: pointer;
}

.lessons-title {
  border-bottom: 2px solid gray;
  background-color: #bdbdbd;
}

.SCEButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #73b1d1;
  background-color: #73b1d1;
  transition: background-color 200ms ease;
  -webkit-transition: background-color 200ms ease;
  border-radius: 13px;
  font-size: 95%;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  width: 30%;
}

.SCEButton:disabled {
  opacity: 0.4;
}

.admin-btn-container .SCEButton {
  outline: none;
}

.admin-btn-container .SCEButton::-moz-focus-inner {
  border: 0;
}

.admin-btn-container {
  display: flex;
  justify-content: center;
}

.breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lesson-dropdown .dropdown-menu {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 23%) !important;
}

/* For xl screens and up */
@media (min-width: 1300px) {
  .SCEButton {
    display: flex;
    width: 30%;
  }
}

/* Reorder elements when screen is less than 575px */
@media (max-width: 574px) {
  .lessons-container {
    display: flex;
    flex-direction: column;
  }

  .left-col {
    order: 3;
  }

  .lessons-list {
    order: 2;
  }

  .breadcrumb {
    order: 1;
  }

  .left-col, .lessons-list {
    overflow: visible;
  }
}

/* For lg screens and lower */
@media (max-width: 1300px) {
  .SCEButton {
    width: 100%;
  }

  #SCEBtn-2, #SCEBtn-3 {
    margin-top: .5em;
  }
}
