.left-col h2, .lessons-title {
    text-align: center;
}

.left-col, .lessons-list {
    height: 100vh;
    overflow: scroll;
}

.lessons-list {
    background-color: rgb(251, 251, 251);
}

.md-content img {
    max-width: 90%;
    height: auto;
    object-fit: contain;
}

.lesson-name {
    height: 2.5em;
    display: flex;
    align-items: center;
}

.lesson-block:hover {
    background-color: rgba(168, 168, 168, 0.80);
    cursor: pointer;
}

.lessons-title {
    border-bottom: 2px solid gray;
    background-color: #DEDEDE;
}
