
.row{
  width: max-content;
  align-self: center;
}
.row .card:hover{
  background-color: lightblue;
  cursor: pointer;
}

.row .card-body{
  width: 300px;
  height: 200px;
}
.row .card{
    margin: 20px;
}

.img{
  height: 200px
}