.sign-wrapper {
  margin: auto;
  width: 50%;
  padding: 32px;
}

.sign-status {
  width: 100%;
}

.sign-available {
  color: green;
}

.sign-unavailable {
  color: red;
}

#scroll-speed{
  direction: rtl;
}

.wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

#led-sign-clear {
  margin: 0 auto;
  display: block;
}
