.card-wrapper[deleted='displayed'] {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px;
  display: flex;
  margin: 10px;
  height: auto;
}

.card-wrapper[deleted='notDisplayed'] {
  display: none;
}

.flex-item {
  margin: 3%;
}

.img-dim{
  width: 30px !important;
  height: 30px;
  float: right;
  margin: 10px;
  cursor: pointer;
}

.card-words {
  text-align: left;
}

.input-bar {
  width: 30px !important;
  height: 30px !important;
}

.color-bar {
  width: 25px;
  height: 25px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.color-form {
  display: flex;
}