.sign-wrapper {
  margin: auto;
  width: 50%;
  padding: 32px;
}

.turn-off-sign-wrapper {
  display: flex;
  flex-direction: row;
  width: 130px;
  justify-content: space-between;
}

.sign-status {
  width: 100%;
}

.sign-available {
  color: green;
}

.sign-unavailable {
  color: red;
}

#scroll-speed{
  direction: rtl;
}

.mock-sign {
  margin: 0% 0% 0% 0%;
  padding: 0;
  margin-block-end: 0%;
}

.mock-signBorder {
  background-color: #c7c7c7;
  min-height: 10px;

}

.mock-signBackground {
  background-color: #dee0df;
  text-align: center;
  white-space: nowrap;
  overflow-x: auto;
  min-height: 50px;
}