global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'cleezy'
    static_configs:
      - targets: ['cleezy-app:8000']
  - job_name: 'sceta-server'
    static_configs:
      - targets: ['server:8001']
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
  - job_name: 'clark'
    static_configs:
      - targets: ['main-endpoints:8080', 'main-endpoints:8082']
