<!-- 
	PROJECT: 		Core-v4
	Name: 			R. Javier
	File: 			admin_tools.template.html
	Date Created: 	May 3, 2018
	Last Modified: 	May 3, 2018
	Details:
		This file serves as the html template for the officer tools component
 -->
<style>
	table.clearance-hierarchy-table {
		display: table;
		width: 100%;
	}
	table.clearance-hierarchy-table tr.clearance-level:hover {
		background-color: lightgray;
		cursor: pointer;
	}
</style>
<div class="well">
	<div class="page-header">
		<h3 class="brand-text">
			Administrator Tools
			<small>Club Resource and Officer Management Tools</small>
			<div style="color:red;">{{$ctrl.error_message}}</div>
		</h3>
	</div>
	<div class="container-fluid">
		<!-- BEGIN Admin Tool Buttons -->
		<div class="row">
			<div class="col-sm-6 col-md-3 col-lg-2">
				<div class="thumbnail">
					<a href="#">
						<button class="btn btn-default" ng-click="$ctrl.launchOfficerManagementModal()" data-toggle="tooltip" title="Manage SCE Officers here!" style="width:100%">
							<img src="img/SCE-glow.png" alt="Folder Image" height="150px" width="150px">
							<div class="caption">
								<h5>Officer Management</h5>
							</div>
						</button>
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-2">
				<div class="thumbnail">
					<a href="#">
						<button class="btn btn-default" ng-click="$ctrl.launchClearanceControlModal()" data-toggle="tooltip" title="Manage SCE Officers here!" style="width:100%">
							<img src="img/SCE-glow.png" alt="Folder Image" height="150px" width="150px">
							<div class="caption">
								<h5>Clearance Level Management</h5>
							</div>
						</button>
					</a>
				</div>
			</div>
		</div>
		<!-- END Admin Tool Buttons -->

		<!-- BEGIN Officer Management Modal -->
		<div class="modal fade officer-management-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">
								&times;
							</span>
						</button> -->
						<h4 class="modal-title">Officer Management</h4>
					</div>
					<div class="modal-body" style="max-height:300px; overflow:scroll;">
						<div ng-repeat="officer in $ctrl.officerList">
							<button class="btn btn-default" style="width:100%" data-toggle="collapse" data-target="#adminToolsOfficerListIndex{{$index}}" ng-click="$ctrl.loadOfficerAbilities($index)">{{officer.userName}}</button>
							<div class="collapse" id="adminToolsOfficerListIndex{{$index}}">
								<div class="panel panel-default">
									<div class="panel-body">
										<div class="row">
											<div class="col-sm-6">
												<div class="input-group">
													<span class="input-group-addon" style="background-color:#003399;color:white;">Name</span>
													<input type="text" class="form-control" value="{{officer.fullName}}" disabled>
												</div>
												<div class="panel panel-info">
													<div class="panel-heading">
														Abilities for Clearance Level:
														<div class="badge">
															{{officer.levelName}}
														</div>
													</div>
													<div class="panel-body">
														<div ng-repeat="ability in officer.abilityInfo">
															<h5 title="{{ability.abilityDescription}}">{{ability.abilityName}}</h5>
														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-6">
												<button class="btn btn-danger" style="width:100%;" data-toggle="tooltip" title="Careful, this button demotes this person as an officer!" ng-click="$ctrl.revokeClearance(officer.memberID, officer.level, officer.levelName)">Demote</button>
												<button class="btn btn-info" style="width: 100%;" title="Click to modify a user's clearance level">Change Clearance Level</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button id="enlistOfficerBtn" class="btn btn-success" ng-click="$ctrl.showMemberList('memberlist0')">Enlist Officer</button>
						<button id="officerManagementModalCancel" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.hideMemberList('memberlist0')">Cancel</button>
					</div>
					<memberlist id="memberlist0" self="'memberlist0'"></memberlist>
				</div>
			</div>
		</div>
		<!-- END Officer Management Modal -->

		<!-- BEGIN Clearance Control Modal -->
		<div class="modal fade clearance-control-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4>Clearance Level Management</h4>
					</div>
					<div class="modal-body" style="max-height:300px; overflow:scroll;">
						<div class="row">
							<div class="col-md-6">
								<div class="panel panel-info">
									<div class="panel-heading">
										<h3 class="panel-title">Clearance Hierarchy (Desc.)</h3>
									</div>
									<div class="panel-body">
										<table class="clearance-hierarchy-table">
											<thead>
												<tr>
													<th>Level ID</th>
													<th>Name</th>
												</tr>
											</thead>
											<tbody>
												<tr class="clearance-level" title="Click to view details" ng-repeat="clvl in $ctrl.clearanceLevelList">
													<td>{{clvl.cID}}</td>
													<td>{{clvl.levelName}}</td>
												</tr>
											</tbody>
											<tfoot></tfoot>
										</table>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								TODO: Control Panel
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div class="btn btn-default" data-dismiss="modal">Cancel</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END Clearance Control Modal -->
	</div>
</div>