@import url('https://fonts.googleapis.com/css2?family=Mina&family=Montserrat:wght@800&family=Open+Sans&display=swap');

.hero-logo {
    margin-top: -10px;
    margin-left: -60px;
    width: 15%;
}

.text-box {
    width: 40%;
    position: absolute;
    margin: 44dvh 12dvh;
    color: white;
    z-index: 2;
}

.hero-text{
    text-align: left;
}

.hero-subtext{
    padding-top: 30px;
    position: absolute;
    font-size: 1rem;
}

.hero-image{
    margin-top: 2rem;
    height: 96.5dvh;
    overflow: auto;
    object-fit:cover;
    z-index: -10;
    filter: blur(1px) brightness(0.6);
}

.more {
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 250%;
    position: absolute;
    right: 10%;
}

.join-sce{
	margin-top: 40px;
	width:100%;
	text-align:left;
	font-family: "Mina";
    padding-top: 60px;
}

#joinsce-btn {
	height: 60px
}


@media screen and (max-width:500px) {
    .hide-this {
        display: none !important;
    }
    .hero-image {
        margin-top: 0px !important;
        border-radius: 10px;
    }
    .hero-frame {
        padding: 10px;
        width: 369px;
    }

    .hero-image{
        margin-top: 3rem;
        height: 100vh;
        overflow: auto;
        object-fit:cover;
        z-index: -10;
        filter: blur(1px) brightness(0.6);
    }
    .hero-text{
        margin-top: 15rem;
        text-align: left;
    }
    
    .text-box {
        width: 50%;
        position: absolute;
        margin: 44dvh 12dvh;
        color: white;
        z-index: 2;
    }
    
}
