@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Mina:wght@400;700&family=Ubuntu:wght@700&display=swap');

.container-3D .App {
  text-align: center;
  font-family: 'Mina', sans-serif;
}

.container-3D .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.container-3D{
  background-color: #16252e;
}

.container-3D .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container-3D .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-3D #error-message {
  display: none;
  color: red;
  font-weight: 500;
}

.container-3D #submit-label-1 {
  margin: 1em;
}

.container-3D #submit-label-2 {
  margin: 2em;
}

.container-3D .btns a {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  width: 50%;
}

.container-3D .label {
  color: white;
  font-family: Mina;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
}

.container-3D #url {
  color: white;
  font-family: Mina;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
}

.container-3D #projectType,
.container-3D #colors {
  color: black;
  font-family: Mina;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}

.container-3D .comments {
  background-color: #b4cbd1;
  font-family: Mina;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}

.container-3D .printingBtn {
  width: 50%;
}

.container-3D .paperPrinting {
  background-color: rgba(61, 121, 138, 0.5);
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  margin: auto;
  border-radius: 20px;
  margin-bottom: 50px;
}

.container-3D .threeDPrinting {
  background-color: #16252e;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  margin: auto;
  border-radius: 20px;
  border-color: #16252e;
  margin-bottom: 50px;
}

.container-3D .submit {
  display: block;
  width: 30%;
  max-width: 182px;
  max-height: 42px;
  font-family: Mina;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
  margin: auto;
  border-radius: 20px;
  background-color: #f3a43b;
  color: black;
  margin-bottom: 50px;
}

.container-3D .additionalConcerns {
  position: relative;
  max-width: 100%;
  word-wrap: break-word;
  height: auto;
  width: auto;
  margin: auto;
  font-family: Mina;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: white;
  text-align: center;
}

.container-3D .footerNote {
  position: relative;
  max-width: 90%;
  word-wrap: break-word;
  height: auto;
  width: auto;
  margin: auto;
  text-align: center;
  color: white;
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}
