<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Skillshare</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/skillshare.css">
</head>

<body>
    <div ng-controller="home_page">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{name}}
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col-sm-3 left-sidebar">
                <div class="list-group">
                    <h2>Desired Skills</h2>
                    <button ng-repeat="skill in possible_skills" type="button" ng-click="toggleButton($event)" class="list-group-item list-group-item-action">{{skill}}</button>
                    
                </div>
                <button>Submit</button>
            </div>
            <div class="col-sm-6">
                <h2>Matches</h2>
            </div>
            <div class="col-sm-3">
                <h2>Info</h2>
                <p>To find matches for your desired skills, select skills from the left panel and press 'submit'. After that, the 'Matches' section will populate with people that are the right fit!</p>
                <br>
                <h2>What Next?</h2>
                <p>After you've found someone that is sufficient for your project's needs, use the attached phone number and contact them directly! From there, you can work with them at your will.</p>
                <br>
                <h2>Thank you for using SkillShare!</h2>
                {{desired_skills}}
            </div>
        </div>
    </div>
</body>


<footer>
    <script type="text/javascript" src="js/skillshare.js"></script>
</footer>
</html>

</html>
