@import url('https://fonts.googleapis.com/css2?family=Mina&family=Montserrat:wght@800&display=swap');
.home {
	color: white;
  width: 100%;
}

.text-header {
  font-family: 'Montserrat', sans-serif;
  line-height: 25px;
	text-align:center;
}

.text-content {
  color:black;
  font-family: 'Mina', sans-serif;
  font-style: normal;
  font-weight:lighter;
  font-size: 20px;
  line-height: 20px;
}

.text-content-header {
  padding-top: 5rem;
  text-align: center;
  font-weight: 600;
}

.text-content-sub-header{
  color: #005b96 ;
}

.text-width-div{
  text-align: center;
  width: 40%;
}

.text-width-div-right{
  float: right;
  text-align: center;
  width: 40%;
}
