@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans&display=swap');

.home{
  position:absolute;
  width:100%;
  overflow: auto;
}

.groupPicContainer,.contentContainer {
  position:relative;
  width:100%;
}

.groupPicContainer{
  /* position: fixed; */
  text-align: center;
  color: white;
  background-size: cover;
  overflow: hidden; 
  margin-bottom: 2%;
  /* padding-top: 4vw; */
}

.groupPictureStyles{
  /* width: 300px; */
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sceTitle{
  scroll-behavior: [ smooth ];
  color: white;
  position: absolute;
  top: 5.5%;
  left: 50%;
  font-family: 'Montserrat';
  white-space: pre-line;
  text-align: left;
  direction: ltr;
  font-size: 6vh;
  font-weight: bolder !important; 
  line-height: 1.05;
  letter-spacing: 1px;
  text-shadow:  0 1px 10px #777;
  z-index: 0;
  overflow: auto;
  display: block;
  font-size-adjust: inherit;

}

.sceLogo{
  position: absolute;
  top: 4%;
  right: 50%;
  overflow: auto;
  display: block;
  height: auto;
  float: right;
  /* style={{ width: '50%', float: 'right' }}*/
}

.logo-styles{
  width:20vw;
  height:20vw;
}

.contentContainer{
  width: auto;
  /* margin-top: 15vh; */
  background-color:#fff;
  overflow: auto;
  overflow-x: hidden;
  /* margin-bottom: 0 !important; */
}

.block-one{
  text-align: left;
}

.block-images{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 6px 6px 6px 6px rgba(0, 0, 0, 0.19);
}

.clubRoomContainer{
  background-image: url("./emptyclubroom_blurred.jpg"); 
  position: relative;
  text-align: center;
  color: white;
  padding-bottom: 15%;
  max-height: 90vh;
  width: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
}

.subBlock-title{
  scroll-behavior: [ smooth ];
  color: white;
  position: relative;
  font-family: 'Montserrat';
  font-size: 1.75vw;
  font-weight: bolder !important; 
  text-shadow:  0 1px 10px #777;
  z-index: 0;
  overflow: auto;
  text-align: left;
  direction: ltr;
  left: 40%;
  top: 7vw;
  margin-top: 4vw;
  margin-left: 5vw;

}

.block2-icons {
  width: 3vw;
  height: 3vw;
  margin: 0.5vw;
}

.icons-container{
  margin-top: 25%;
  margin-left: 15%;
  width: 25%;
  border-radius: 20px;
  background-image: linear-gradient(to right, #9ea3df6c 0%, #59ade98c 100%);
}

.subBlockContainer{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 3em;
  direction: ltr;
  left: 40%;
  top: 10vw;
  scroll-behavior: [ smooth ];
  color: white;
  font-weight: 500;
  position: relative;
  line-height: 55%;
}

.subBlockText{
  font-family: 'Karla', sans-serif;
  margin: auto;
  margin-left: 5vw;
  font-size: 3vh;
  font-weight: 400;
  word-wrap: break-word;
  white-space: pre-line;
  overflow-wrap: break-word;
  display:block;
}

.block-two{
  margin-top: 2%;
}

.block-styles{
  margin-top: 5%;
}

.textBlock1-title, .textBlock2-title{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: xx-large;
  font-weight: 600;
  background-color: #9ed7df6c;
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%,  #59ade98c 65%);
}

.textBlock1-title{
  margin-top: 15%;
  margin-bottom: 5%;
  text-align: left;
}

.leftalign{
  text-align: left;
  margin-left:5%;
}

.textBlock2-title{
  margin-top: 20%;
  margin-left: 15%;
}

.textBlock1-text, .textBlock2-text{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: medium;
  margin-left:5%;
  max-height: 1vh;
  width: 35vw;
}

.textBlock2-text{
  margin-left: 15%;
}

.blockText{
  line-height: 2.5vh;
  text-align: left;
  font-size: 1.25vw;
  /* max-height: 7px; */
  word-wrap: break-word;
  white-space: pre-line;
  overflow-wrap: break-word;
  display:block;
}

.block-space{
  margin-top: 5vh;
}

.calendar{
  height: auto;
  width: 100% !important;
  height: 800px !important;
  position: relative !important;
  display: initial !important;
}

/*********************************************************/
/*********************************************************/

@media only screen and (min-width: 200px) and (max-width: 500px) { 
  
  .groupPicContainer{
    /* position: fixed; */
    text-align: center;
    color: white;
    background-size: cover;
    /* overflow: hidden;  */
    margin-bottom: 10% !important;
    top: 6vw;
    padding-top: 1px !important;
    margin-top: 1px;
  }

  .sceTitle{
    scroll-behavior: [ smooth ];
    color: white;
    position: absolute;
    top: 6.5%;
    left: 50%;
    font-family: 'Montserrat';
    white-space: pre-line;
    text-align: left;
    direction: ltr;
    font-size: 4.5vw;
    font-weight: bolder !important; 
    line-height: 1.05;
    letter-spacing: 1px;
    text-shadow:  0 1px 10px #777;
    z-index: 0;
    overflow: auto;
    display: block;
    font-size-adjust: inherit;
  }

  .sceLogo{
    top: 6%;
  }

  .logo-styles{
    width:20vw;
    height:20vw;
  }

  .contentContainer{
    width: auto;
  /* margin-top: 15vh; */
    background-color:#fff;
    overflow: auto;
    overflow-x: hidden;
  /* margin-bottom: 0 !important; */
  }

  .clubRoomContainer{
    background-image: url("./emptyclubroom_blurred.jpg"); 
    /* background-image: url("./grey-gradient.jpg");  */
    /* position: relative; */
    text-align: center;
    color: rgb(255, 255, 255);
    width: auto;
    background-size: 110%;
    background-repeat: no-repeat;
    height: 45vh;
    box-sizing: border-box;
  }
  
  .subBlockContainer{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 10px;
    direction: ltr;
    left: 40%;
    top: 10vw;
    scroll-behavior: [ smooth ];
    color: rgb(255, 255, 255);
    font-weight: 500;
    /* max-height:2vh !important; */
    /* position: relative; */
  }

  .subBlockText{
    font-size: 2.25vw;
    line-height: 2vh;
    margin-top: 0;
  }

  .subBlock-title{
    scroll-behavior: [ smooth ];
    color: rgb(255, 255, 255);
    /* position: relative; */
    font-family: 'Montserrat';
    font-size: 2vh;
    font-weight: bolder !important; 
    z-index: 0;
    overflow: auto;
    text-align: left;
    direction: ltr;
    left: 40%;
    margin-left: 5vw;
    margin-top: 0;
  }

  .blockText{
    line-height: 1.2 !important;
    text-align: left;
    font-size: 2vh !important;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    /* min-height: 35px; */
  }

  .leftalign, .textBlock1-title, .textBlock2-title{
    font-size: 2.5vh;
  }

  .textBlock1-text, .textBlock2-text{
    line-height: 1.2 !important;
  }

  .icons-container{
    margin-top: 20%;
    margin-left: 15%;
    padding-left: 7%;
    width: 40%;
    border-radius: 20px;
    background-image: linear-gradient(to right, #9ea3df6c 0%, #59ade98c 100%);
  }

  .block-styles{
    margin-top: 0%;
  }

  .row{
    margin-right: 0 !important; 
  }
 }

 /*********************************************************/
/*********************************************************/

@media only screen and (min-width: 501px) and (max-width: 700px) { 
  
  .groupPicContainer{
    /* position: fixed; */
    text-align: center;
    color: white;
    background-size: cover;
    /* overflow: hidden;  */
    margin-bottom: 10% !important;
    top: 6vw;
    padding-top: 1px !important;
    margin-top: 1px;
  }

  .sceTitle{
    scroll-behavior: [ smooth ];
    color: white;
    position: absolute;
    top: 6.5%;
    left: 50%;
    font-family: 'Montserrat';
    white-space: pre-line;
    text-align: left;
    direction: ltr;
    font-size: 4.5vw;
    font-weight: bolder !important; 
    line-height: 1.05;
    letter-spacing: 1px;
    text-shadow:  0 1px 10px #777;
    z-index: 0;
    overflow: auto;
    display: block;
    font-size-adjust: inherit;
  }

  .sceLogo{
    top: 6%;
  }

  .logo-styles{
    width:20vw;
    height:20vw;
  }

  .contentContainer{
    width: auto;
  /* margin-top: 15vh; */
    background-color:#fff;
    overflow: auto;
    overflow-x: hidden;
  /* margin-bottom: 0 !important; */
  }

  .clubRoomContainer{
    background-image: url("./emptyclubroom_blurred.jpg"); 
    /* background-image: url("./grey-gradient.jpg");  */
    /* position: relative; */
    text-align: center;
    color: rgb(255, 255, 255);
    width: auto;
    background-size: 135%;
    background-repeat: no-repeat;
    height: 45vh;
    box-sizing: border-box;
  }
  
  .subBlockContainer{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 10px;
    direction: ltr;
    left: 40%;
    top: 10vw;
    scroll-behavior: [ smooth ];
    color: rgb(255, 255, 255);
    font-weight: 500;
    /* max-height:2vh !important; */
    /* position: relative; */
  }

  .subBlockText{
    font-size: 2.25vw;
    line-height: 1.5vh;
    margin-top: 0;
  }

  .subBlock-title{
    scroll-behavior: [ smooth ];
    color: rgb(255, 255, 255);
    /* position: relative; */
    font-family: 'Montserrat';
    font-size: 1.35vh;
    font-weight: bolder !important; 
    z-index: 0;
    overflow: auto;
    text-align: left;
    direction: ltr;
    left: 40%;
    margin-left: 5vw;
    margin-top: 0;
  }

  .blockText{
    line-height: 1.5vh !important;
    text-align: left;
    font-size: 1.5vh !important;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    /* min-height: 35px; */
  }

  .leftalign, .textBlock1-title, .textBlock2-title{
    font-size: 1.75vh;
  }

  .textBlock1-text, .textBlock2-text{
    height: 5vh !important;

  }

  .icons-container{
    margin-top: 40%;
    margin-left: 15%;
    padding-left: 7%;
    width: 40%;
    border-radius: 20px;
    background-image: linear-gradient(to right, #9ea3df6c 0%, #59ade98c 100%);
  }

  .block-styles{
    margin-top: 0%;
    margin-bottom: 30%;
  }

  .row{
    margin-right: 0 !important; 
  }
 }

/*********************************************************/
/*********************************************************/

@media only screen and (min-width: 701px) and (max-width: 1024px)
and (min-height: 400px) { 
  
  .groupPicContainer{
    /* position: fixed; */
    text-align: center;
    color: white;
    background-size: cover;
    /* overflow: hidden;  */
    margin-bottom: 10%;
    top: 6vw;
    padding-top: 0 !important;
  }

  .sceTitle{
    scroll-behavior: [ smooth ];
    color: white;
    position: absolute;
    top: 5%;
    left: 50%;
    font-family: 'Montserrat';
    white-space: pre-line;
    text-align: left;
    direction: ltr;
    font-size: 2.5em;
    font-weight: bolder !important; 
    line-height: 1.05;
    letter-spacing: 1px;
    text-shadow:  0 1px 10px #777;
    z-index: 0;
    overflow: auto;
    display: block;
    font-size-adjust: inherit;
  
  }

  .clubRoomContainer{
    background-image: url("./emptyclubroom_blurred.jpg"); 
    position: relative;
    text-align: center;
    color: white;
    max-height: 50vw;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    margin-bottom: 5%;
  }
  
  .subBlockContainer{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 2em;
    direction: ltr;
    left: 40%;
    top: 10vw;
    scroll-behavior: [ smooth ];
    color: white;
    font-weight: 500;
    position: relative;
    line-height: 50%;
  }

  .subBlock-title{
    scroll-behavior: [ smooth ];
    color: white;
    position: relative;
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: bolder !important; 
    z-index: 0;
    overflow: auto;
    text-align: left;
    direction: ltr;
    left: 40%;
    top: 7vw;
    margin-top: 1vw;
    margin-left: 5vw;
  }

  .subBlockText{
    font-size: 1.95vw;
    line-height: 1.95vh;
    margin-top: 0;
    
  }

  .blockText{
    line-height: 1.95vw;
    text-align: left;
    font-size: 1.75vw;
    max-height: 2px;
    word-wrap: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    display:block;
  }

  .leftalign, .textBlock1-text, .textBlock1-title, .textBlock2-text, .textBlock2-title{
    font-size: 1.5rem;
    margin-top: 0;
  }

  .icons-container{
    margin-top: 40%;
    margin-left: 15%;
    padding-left: 7%;
    width: 40%;
    border-radius: 20px;
    background-image: linear-gradient(to right, #9ea3df6c 0%, #59ade98c 100%);
  }

 }
