@import url('https://fonts.googleapis.com/css2?family=Mina&family=Montserrat:wght@800&display=swap');
.home {
	background-color: black;
}

.text-header {
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    padding: 200px 0 20px 0; 
	text-align:center;
}
.text-header>h1{
	font-size: 50px
}
.text-content {
    font-family: 'Mina', sans-serif;
    font-style: normal;
    font-weight:lighter;
    font-size: 25px;
    line-height: 20px;
    padding: 30px 0 0 0;
	text-align:center;
}

.join-sce{
	margin-top: 40px;
	width:100%;
	text-align: center;
	font-family: "Mina";
	font-size: large;
}

#joinsce-btn {
	height: 70px
}
.card {
  padding-left: 300px;	
}


.outer-div
{
  padding: 30px;
}
.inner-div
{
  margin: auto;
  width: 80%;
}

.calendar{
  height: auto;
  width: 100% !important;
  height: 800px !important;
  position: relative !important;
  display: initial !important;
}
