
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
.home{
  position:absolute;
  width:100%;
  overflow: auto;
}

.groupPicContainer,.contentContainer {
  position:relative;
  width:100%;
}

.groupPicContainer{
  position: fixed;
  text-align: center;
  color: white;
  background-size: cover;
  overflow: hidden; 
  
}

.groupPictureStyles{
  width: 300px;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contentContainer{
  position: absolute;
  margin-top: 100%;
  width: 100%;
  background-color:#fff;
  overflow: auto;
  position:relative;
}

<<<<<<< HEAD
=======

>>>>>>> Creates parallax scrolling effect for homepage
.sceTitle{
  scroll-behavior: [ smooth ];
  color: white;
  position: absolute;
  top: 5%;
  left: 50%;
  font-family: 'Montserrat';
  white-space: pre-line;
  text-align: left;
  direction: ltr;
<<<<<<< HEAD
  font-size: 4em;
=======
  font-size: 60px;
>>>>>>> Creates parallax scrolling effect for homepage
  font-weight: bolder !important; 
  line-height: 1.05;
  letter-spacing: 1px;
  text-shadow:  0 1px 10px #777;
<<<<<<< HEAD
  z-index: 0;
  overflow: auto;
  display: block;
  font-size-adjust: inherit;
=======
  z-index: 10;
}

.sceLogo{
  position: absolute;
  top: 4%;
  right: 50%;
  overflow: auto;
  display: block;
>>>>>>> Creates parallax scrolling effect for homepage
  
}

.slideshow {
  max-width: auto;
  position: relative;
  margin: auto;
  height: auto;
  overflow: hidden;
}

.textBlock1-title{
  font-family: 'Merriweather', serif;
  text-align: left;
  font-size: xx-large;
  margin-left:5%;
  margin-top: 15%;
  margin-bottom: 5%;
}
.textBlock2-title{
  font-family: 'Merriweather', serif;
  text-align: left;
  font-size: xx-large;
  margin-left: 15%;
  margin-top: 15%;
  margin-bottom: 5%;
}
.textBlock1-text{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: medium;
  margin-left:5%;
  
}

.textBlock2-text{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: medium;
  margin-left: 15%;
  
}

.text{
  margin-top: 0%;
  padding: 0%;
}
.outer-div
{
  padding: 30px;
}
.inner-div
{
  margin: auto;
  width: 80%;
}

.block-space{
  margin-top: 10%;
}

.calendar{
  height: auto;
  width: 100% !important;
  height: 800px !important;
  position: relative !important;
  display: initial !important;
}
