@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&family=Montserrat:wght@300;500;800&display=swap');
.main-div {
    display: flex;
    min-width: 200px;
    max-width: 300px;
    height: 300px;
    padding: 0 16px;
    justify-content: center;
    flex-direction: column;
    margin: 1rem auto 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 16px;
    font-family: 'Mina', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

#input-box {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding-left: 10px;
    height: 2rem;
}

.button-div {
    margin-top: 8px;
    text-align: right;
}

.btn {
    width: 4.5rem;
    height: 2.2rem;
}

.edit-button {
    margin-right: 5px;
}