.App{
  width: 1300px;
  margin: auto ;
  padding: 100px;
  //border: 2px solid red;
  background-color: #E1F5FE;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
}

.tab{
  background-color: #E1F5FE;
  text-align: center;
}

.sec{
  width: 300px;
  display: inline-block;
  //border: 2px solid yellow;
  margin: 20px;
  text-align: center;
  position:fix;
}

.services{
  width: 250px;
  display: inline-block;
  //border: 2px solid orange;
}

.button{
  background-color: #909ca7 !important;
  color: white !important;
  position: relative;
  //top: auto;
}

/*App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
