.sec1{
  background-color: #E1F5FE;
  border: 2px solid #E1F5FE;
}
.sec2{
  background-color: #E1F5FE;
  border: 2px solid #E1F5FE;
}.sec3{
  background-color: #E1F5FE;
  border: 2px solid #E1F5FE;
}

.title{
    text-align: center;
    height: 48px;
    width: 176px;
    margin-bottom: 0px;
}

#title{
    text-align: center;
    color: black;
    text-transform: uppercase;
}

.card-img{
  width: 158px !important;
  height: 158px !important;
  margin-left: 10px;
}

.card{
  margin: 15px;
  width: 220px !important;
  height: 480px !important;
  height: relative !important;
  border: 2px solid rgba(0, 0, 0, 0.125) !important;
  background-color: #E1F5FE !important;
}

.secN{
  color: black;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}

#text{
  text-align: left;
  margin-top: 5px;
}

#bd2{
  top: 47px;
}
#blocker{
  top: 69px;
}
#bd3{
  top: 94px;
}
#bmonitor{
  top: 0px;
}
#btechw{
  top: 22px;
}
#bafter{
  top: 0px;
  margin-top: 0px;
  border-top: 0px;
}
#bequipm{
  top: 22px;
}
