.sec1{
  background-color: #E1F5FE;
  border: 2px solid #E1F5FE;
}
.sec2{
  background-color: #E1F5FE;
  border: 2px solid #E1F5FE;
}.sec3{
  background-color: #E1F5FE;
  border: 2px solid #E1F5FE;
}

.title{
    text-align: center;
    height: 48px;
    width: 176px;
    margin-bottom: 0px;
}

#title{
    text-align: center;
    color: black;
    text-transform: uppercase;
}

.card-img{
  width: 158px !important;
  height: 158px !important;
  margin-left: 10px;
}

.card{
  margin: 15px;
  width: 220px !important;
  height: 480px !important;
  height: relative !important;
  border: 2px solid rgba(0, 0, 0, 0.125) !important;
  background-color: #E1F5FE !important;
}

.secN{
  color: black;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}

#techw{
  border-color: rgb(158, 82, 177) !important;
}
#after{
  border-color: rgb(16, 208, 196) !important;
}
#equipm{
  border-color: rgb(137, 194, 115) !important;
}

#shop:hover >  #ishop{
    content:url("./img/shop.png");
}
#locker:hover >  #ilocker{
    content:url("./img/locker.png");
}
#d2:hover >  #id2{
    content:url("./img/printer.png");
}
#d3:hover >  #id3{
    content:url("./img/3d-printer.png");
}
#hardware:hover >  #ihardware{
    content:url("./img/hardware.png");
}
#monitor:hover >  #imonitor{
    content:url("./img/monitor.png");
}
#techw:hover >  #itechw{
  content:url("./img/techw.png");
}
#after:hover >  #iafter{
  content:url("./img/clock.png");
}
#equipm:hover >  #iequipm{
  content:url("./img/cart.png");
}

#text{
  text-align: left;
  margin-top: 5px;
}

#bd2{
  top: 47px;
}
#blocker{
  top: 69px;
}
#bd3{
  top: 94px;
}
#bmonitor{
  top: 0px;
}
#btechw{
  top: 22px;
}
#bafter{
  top: 0px;
  margin-top: 0px;
  border-top: 0px;
}
#bequipm{
  top: 22px;
}

#bshop:hover {
  background-color: #6c757d !important;
  color: white !important;
}
#blocker:hover {
  background-color: #007bff !important;
  border-color: white !important;
}
#bd2:hover {
  background-color: #28a745 !important;
  border-color: white !important;
}
#bd3:hover {
  background-color: #17a2b8 !important;
  border-color: white !important;
}
#bhardware:hover {
  background-color: #ffc107 !important;
  border-color: white !important;
}
#bmonitor:hover {
  background-color: #dc3545 !important;
  border-color: white !important;
}
#btechw:hover {
  background-color: rgb(158, 82, 177) !important;
  border-color: white !important;
}
#bafter:hover {
  background-color: rgb(16, 208, 196) !important;
  border-color: white !important;
}
#bequipm:hover {
  background-color: rgb(137, 194, 115) !important;
  border-color: white !important;
}
