@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
}

#season-img {
	height: 50%;
	width: 100%;
}

#enclose {
	text-align: center;
}

#title {
	font-weight: bold;
}

#profile-box {
	position: relative;
	height: 100%;
	width: 100%;
	top: 50%;
	background-color: #ffffff;
	padding: 1.5vh;
	z-index: 1;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1.5vh;
}

#icon {
	font-size: 3.8rem;
}

#inner-text-top {
	font-size: 2.2rem;
	margin-top: 0.2rem;
}

#value-span {
	font-size: 2rem;
	font-weight: 500;
}

#profile-box > div {
	background-image: linear-gradient(to bottom right, #5390d9, #84afe6, #79beee, #48bfe3, #90e0ef);
	border-radius: 0.8rem;
	background-attachment: fixed;
	word-wrap: break-word;
	height: 43vh;
	cursor: pointer;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 1.5vh;
	color: #333333;
	transition: all .3s ease-in;
}

#profile-box > div:hover {
	opacity: 0.9;
	transform: scale(0.97);
}

#profile-box > div:nth-of-type(1) {
	grid-column: 1/5;
	height: 25vh;
	transition: none;
	transform: none;
	opacity: 1;
	cursor: default;
}

#profile-box > div:nth-of-type(4) {
	padding: 2rem;
	transition: none;
	transform: none;
	opacity: 1;
	cursor: default;
}
#profile-box > div:nth-of-type(4) {
	grid-column: 1/5;
	grid-row: 2/3;
	height: 10vh;
}

#profile-box > div:nth-of-type(9) {
	grid-row: 4/5;
	grid-column: 3/5;
	overflow: hidden;
}

.box {
	display: block;
}

#value-span {
	display: block;
	line-height: 3rem;
}

#profile-logo {
	position: absolute;
	height: 35%;
	top: 25%;
	left: 58%;
	z-index: 2;
}

.modal-header {
	float: left;
	font-weight: bolder;
}

#printing-pickup {
	margin-top: 2rem;
	font-size: 1.5rem;
	font-weight: bolder;
}

#three-print-request-button {
	font-size: 1.5rem;
	font-weight: bolder;
	background: #0779e4;
	border: none;
	float: left !important;
	margin-right: 11rem;
}

#three-print-close-button {
	background: #eb4559;
	border: none;
	font-size: 1.5rem;
	font-weight: bolder;
	float: right;
}

#new-password {
	margin: 1rem;
	width: 75%;
	border: 2px solid #b5b5b5;
}

#confirm-password {
	margin: 1rem;
	width: 75%;
	border: 2px solid #b5b5b5;
}

#change-password-close-button {
	background: #eb4559;
	border: none;
	font-size: 1.5rem;
	font-weight: bolder;
}

.discord-button {
	background-color: #7289da !important;
	align-items: center !important;
}

.discord-button img {
	width: 25px;
	height: 25px;
	margin-right: 5px;
}

.center-text {
	padding: 5px;
	align-items: center;
}

.invalid {
	color: red !important;
}

#password-div {
	background-color: #48bfe3;
}
.password-span {
	margin: 1rem;
	color: #333;
}

@media screen and (max-width: 1200px) {
	#profile-logo {
		height: 15%;
		left: 60%;
	}

	#profile-box {
		width: 40%;
		top: 30%;
		left: 30%;
	}
}

@media screen and (max-width: 1000px) {
	#profile-logo {
		height: 0%;
	}

	#profile-box {
		position: relative;
		width: 100%;
		top: 0%;
		left: 0%;
	}
}
