@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

#season-img {
	height: 50%;
	width: 100%;
}

#enclose {
	text-align: center;
}

#title {
	font-weight: bold;
}

#profile-box {
	position: relative;
	/* background-color: white; */
	/* width: 40%;
	top: 40%;
	left: 30%; */
	/* border: thick double #4385ac; */
	height: 100%;
	width: 100%;
	top: 50%;
	background-color: #ffffff;
	padding: 1.5vh;
	/* margin: 2vw; */

	/* border-radius: 50px; */
	z-index: 1;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1.5vh;
}

#profile-box > div {
	background-image: linear-gradient(to bottom right, #5390d9, #84afe6, #79beee, #48bfe3, #90e0ef);

	border-radius: 0.5rem;
	background-attachment: fixed;
	word-wrap: break-word;
	height: 35vh;
	cursor: pointer;
	/* Flex Box */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	padding: 1.5vh;
	color: #333333;

	transition: all .3s ease-in;
}

/* Make the background a lighter color */
#profile-box > div:hover {
	opacity: 0.9;
	transform: scale(0.98);
}

#profile-box > div:nth-of-type(1) {
	grid-column: 1/5;
	height: 20vh;
	/* ? How do I increase the font-size? */
}

#profile-box > div:nth-of-type(4) {
	grid-column: 1/5;
	grid-row: 2/3;
	height: 10vh;
}

#profile-box > div:nth-of-type(9) {
	grid-row: 4/5;
	grid-column: 3/5;
}

/* #inner-text-top {
	margin-left: 5%;
	margin-top: 2%;
	margin-right: 5%;
	text-align: left;
} */

/* #clip {
	position: relative;
	width: 40%;
	height: 40%;
	display: inline-block;
	clip-path: polygon(0 0, 0% 100%, 100% 0);
}

#clip2 {
	position: relative;
	width: 40%;
	height: 40%;
	right: 5%;
	display: inline-block;
	clip-path: polygon(100% 0, 100% 100%, 0 100%);
} */

#profile-logo {
	position: absolute;
	height: 35%;
	top: 25%;
	left: 58%;
	z-index: 2;
}

#printing-request-button {
	margin-top: 10px;
	margin-left: 10%;
}

.invalid {
	color: red !important;
}

@media screen and (max-width: 1200px) {
	#profile-logo {
		height: 15%;
		left: 60%;
	}

	/* #inner-text-top {
		font-size: 50px;
	} */

	#profile-box {
		width: 40%;
		top: 30%;
		left: 30%;
	}
}

@media screen and (max-width: 1000px) {
	#profile-logo {
		height: 0%;
	}

	/* #inner-text-top {
		font-size: 50px;
	} */

	#profile-box {
		position: relative;
		width: 100%;
		top: 0%;
		left: 0%;
	}

	/* #clip,
	#clip2 {
		height: 0%;
		width: 0%;
	} */
}
