@font-face {
	font-family: sceSyncopate;
	src: url("../../lib/font/Syncopate-Regular.ttf");
}

@font-face {
	font-family: sceSyncopateBold;
	src: url("../../lib/font/Syncopate-Bold.ttf");
}

body {
	background: url("../img/babu-1810144_1920.jpg");
	background-color: black;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	padding-top: 80px;
	display: block;
}

.box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.brand-logo {
	max-width: 150%;
	max-height: 150%;
}

.brand-logo-container {
	vertical-align: middle;
	text-align: center;
}

.brand-text {
	font-family: sceSyncopate;
}

.btn-custom {
	color: white;
	background-color: #303030;
}

.centered-text {
	text-align: center;
}

.error-display {
	text-align: center;
	color: red;
}

.half-square-centered {
	height: 50%;
	width: 50%;
	text-align: center;
}

.max-height {
	height: 100%;
}

.max-width {
	width: 100%;
}

.member-detail-body {
	font-family: default;
}

.member-detail-label {
	font-family: sceSyncopate;
	color: white;
	background-color: #5388b0;
}

.member-detail-title {
	font-family: sceSyncopate;
}

.portal-slug {
	color: silver;
	font-family: sceSyncopate;
}

.portal-title {
	color: silver;
	font-family: sceSyncopateBold;
}

.sce-input-bar {
	background-color: #303030;
	color: gray;
}

.status-display {
	text-align: center;
	color: gray;
}

.tall-centered {
	text-align: center;
	height: 100%;
}

.tall-wide-centered {
	text-align: center;
	height: 100%;
	width: 100%;
}

.user-option-menu {
	background-color: #303030;
	color: white;
}

.user-option-text {
	color: gray;
}

.vertCenter {
	vertical-align: center;
	text-align: center;
	width: 100%;
	/*height: 100%;*/
	display: inline-block;
	position: relative;
}

.vertical-align-parent {
	display: flex;
	flex-direction: column;
}

.vertical-align {
	flex: 1;
	align-items: center;
	justify-content: space-around;
}

.wide-centered {
	text-align: center;
	width: 100%;
}

#credentialsBox {
	margin: 20px;
}

#sceLogo {
	margin: 20px;
	width: 200px;
	height: 200px;
}