.continue {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  border-radius: 20px;
  background-color: rgb(28, 192, 247);
  color: black;
}

.filepond--root .filepond--drop-label label {
  text-align: center;
  transform: translateY(150px);
  animation: fadein 1s ease-in-out;
  animation-fill-mode: forwards;
}

.filepond--root .filepond--panel-root {
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 20px;
}

.filepond--root:hover .filepond--panel-root {
  background-color: rgb(0, 172, 230);
  border: 2px solid blue;
}

.filepond--root {
  position: relative;
  /* border: 2px solid black;
  border-radius: 10px; */
  max-width: 70%;
  margin-left: 15%;
  height: 400px;
}

.printInfo {
  position: relative;
  max-width: 80%;
  word-wrap: break-word;
  height: 60px;
  width: auto;
  margin-left: 10%;
  text-align: center;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
