.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 4%;
    margin-bottom: 4%;
    max-width: 100%;
  }
  
  .project-photo {
    width: 100%;
    height: auto;
    margin-bottom: 1%;
  }
  
  .project-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0%;
  }
  
  .project-subnote {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-left: 10px;
  }
  
  .project-caption {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    margin: 0%;
  }
  
  /* Table becomes one column */
@media screen and (max-width: 910px) {
    .project-card {
        margin: 0% 3% 4% 3%;
    }
}