.project-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2.5%;
  }
  
  .project-photo {
    width: 100%;
    height: auto;
    margin-bottom: 1%;
  }
  
  .project-name {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0%;
  }
  
  .project-subnote {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-left: 10px; /* dealing with text so px */
  }
  
  .project-caption {
    color: black;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    margin: 0%;
  }
  
  /* Table becomes one column */
@media screen and (max-width: 910px) {
    .project-box {
        margin: 0% 5% 2.5% 5%;
    }
}