.projects-header {
    background-color: #0C1E2F;
    color: white;
    font-family: 'Mina', sans-serif;
    margin: 0px 2.5% 2.5% 2.5%;
    padding-top: 100px;
}

hr {
    border: none;
    border-top: 7px solid white;
    border-radius: 5px; 
    height: 0px;
    margin: 3% 0% 3% 0%;
    opacity: 100%;
}

.text-header {
    display: flex by final spec;
    font-size: 25px;
    padding: 5% 5% 4% 5%;
    text-align: left;
}

.text-header-box {
    font-size: 15px;
    line-height: 20px;
    padding-right: 50%;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0%;
}

@media screen and (max-width: 638px) {
    .text-header-box {
        padding-right: 0%;
    }
}

@media screen and (max-width: 460px) {
    #btn {
        font-size: 16px !important;
        width: 120px !important;
    }
    b {
        font-size: 20px;
    }
}