* {
	box-sizing: border-box;
}

#wrapper {
	width: 600px;
	margin: 5% auto;
	padding: 1.9rem;
	border-radius: 20px;
	box-shadow: 0 0 10px #808080;
}

#wrapper h2 {
	text-align: center;
    margin-top: 1em;
    font-size: 30px;
}

form label.required:after
{
    color: red;
    content: " *";
}

#form-area {
	display: flex;
	border-radius: 25px;
	padding: 1.9rem;
	order: 1;
	margin-right: 0.5em;
    flex-direction: column;
    align-items: left;
}

#form-area input {
    background: transparent;
    border-color: lightgray;
    border-width: 0.25px;
    border-style: solid;
}

#form-area input,
#form-area button {
	padding: 1em;
	margin-bottom: 1em;
    border-radius: 7px;
    width: 100%;
}

label {
	font-size: 20px;
    text-align: left;
    margin-bottom: 0.1em;
}

p {
    text-align: center;
}

#form-area h5 {
	text-align: left;
	margin: 5px 0px;
    font-weight: normal;
    font-size: 15px;
}

#form-area button {
	padding: 15px 50px;
	border-radius: 7px;
    text-transform: uppercase;
    margin-bottom: 1em;
}
