* {
	box-sizing: border-box;
}

#wrapper {
    width: 40%;
    min-width: 500px;
	margin: 5% auto; 
	padding: 3%; 
	border-radius: 20px;
	box-shadow: 0 0 10px #808080;
}

#wrapper h2 {
	text-align: center;
    margin-top: 5%;
    font-size: 30px;
}

form label.required:after
{
    color: red;
    content: " *";
}


#form-area {
	display: flex;
	border-radius: 25px;
	padding: 3%;
	order: 1;
	margin-right: 1%;
    flex-direction: column;
    align-items: left;
}

#form-area input {
    background: transparent;
    border-color: lightgray;
    border-width: 0.25px;
    border-style: solid;
}

#form-area input,
#form-area button {
	padding: 2%;
	margin-bottom: 1.5%;
    border-radius: 7px;
    width: 100%;
    font-size: 15px;
}


label {
	font-size: 20px;
    text-align: left;
    margin-bottom: 0.5%;
}

p {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#form-area h5 {
	text-align: left;
    font-weight: normal;
    font-size: 15px;
}

#form-area button {
    text-transform: uppercase;
    margin-bottom: 5%;
}
