  .container-sponsors-logos {
    margin-top: 150px;
  }
  .sponsors-row-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cisco-img img{
    width: 300px;
    height: auto;
  }
  .echo3d-img img{
    width: 300px;
    height: auto;
    margin-left: 100px;
  }
  .google-img img{
    width: 300px;
    height: auto;
    margin-left: 100px;
  }

  .sponsors-row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }
  .balsamiq-img img{
    width: 300px;
    height: auto;
  }
  .xircle-img img{
    width: 100px;
    height: auto;
    margin-left: 100px;
  }
  
  .sponsors-row-3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .microsoft-img img{
    width: 700px;
    height: auto;
  }
  .tesla-img img{
    width: 300px;
    height: auto;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  @media screen and (max-width:500px) {
    .hide-images {
      display: none !important;
    }
    .container-sponsors-logos {
      display: contents;
    }
    .sponsors-row-1 {
      display: contents;
    }
    .sponsors-row-2 {
      display: contents;
    }
    .sponsors-row-3 {
      display: contents;
    }
    .cisco-img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
    }
    .cisco-img img {
      width: 250px;
      height: auto;
      align-items: center;
    }
    .google-img {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .google-img img {
      width: 300px;
      height: auto;
      margin-left: 0px; 
    }
    .microsoft-img {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .microsoft-img img {
      width: 300px;
      height: auto;
    }
    .tesla-img {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .tesla-img img {
      width: auto;
      height: 150px;
      margin-left: 0px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
}