  .container-sponsors-logos {
    margin-top: 200px;
  }
  .sponsors-row-1 {
    /* padding-left: 80px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cisco-img {
    width: 300px;
    height: auto;
  }
  .echo3d-img {
    width: 300px;
    height: auto;
    margin-left: 100px;
  }
  .google-img {
    width: 300px;
    height: auto;
    margin-left: 100px;
  }

  .sponsors-row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }
  .balsamiq-img {
    width: 300px;
    height: auto;
  }
  .xircle-img {
    width: 100px;
    height: auto;
    margin-left: 100px;
  }
  
  .sponsors-row-3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .microsoft-img {
    width: 700px;
    height: auto;
  }
  .tesla-img {
    width: 300px;
    height: auto;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
