@import url("https://fonts.googleapis.com/css2?family=Mina&family=Montserrat:wght@800&display=swap");

.what-we-do {
    padding-top: 50px;
  }

.container-what-we-do {
    display: flex;
    align-items: center;
  }

.what-we-do-header{
    /* width: 289px;
    height: 55px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    
    text-align: center;
    
    color: #FFFFFF; */
    padding-left: 40px;
    padding-bottom: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
  
    color: #ffffff;
}


.what-we-do-p {
    /* width: 816px;
    height: 330px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px; */
    
    
    color: #FFFFFF;
    text-align: center;
    font-family: "Mina", sans-serif;
    width: 50%;
    font-size: 18px;
}

.what-we-do-img {
    padding-left: 80px !important;
  }

.what-we-do-img img {
    width: 600px;
    height: auto;
  }

.learn-more-button {
    margin-left: 35%;
    width: 113px;
    height: 34px;
    
    font-family: 'Mina';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    
    text-align: center;
    
    color: #FFFFFF;
}
