@import url("https://fonts.googleapis.com/css2?family=Mina&family=Montserrat:wght@800&display=swap");

.who-we-are {
  padding-top: 50px;
}

.container-who-we-are {
  display: flex;
  align-items: center;
}

.who-we-are-header {
  padding-left: 40px;
  padding-bottom: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;

  color: #ffffff;
}

.who-we-are-p {
  text-align: center;
  font-family: "Mina", sans-serif;
  width: 50%;
  font-size: 18px;
}

.container-who-we-are {
  margin-left: 15px;
}
.container-who-we-are div {
  padding-left: 30px;
}

.who-we-are-img {
  padding-left: 80px !important;
}

.who-we-are-img img {
  width: 600px;
  height: auto;
}


.join-sce-button {
  margin-left: 35%;
  width: 113px;
  height: 34px;
  font-family: "Mina";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;

  color: #ffffff;
}

@media (max-width: 500px) {
  .who-we-are-img img {
    max-width: 300px !important;
  }
}
