/* PXL_20220515_013815405 2 */

.who-we-are-image{
    /*position: absolute;*/
    width: 844px;
    height: 458px;
    left: 66px;
    top: 1665px;
    
    /*background: url(PXL_20220515_013815405.jpg);*/
    border-radius: 23px;
}



/* Who We Are */
.who-we-are-header{
    /*position: absolute;*/
    width: 289px;
    height: 55px;
    left: 969px;
    top: 1665px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    /* or 120% */
    text-align: center;
    
    color: #FFFFFF;
}


.who-we-are-p{
    /*position: absolute;*/
    width: 816px;
    height: 330px;
    left: 996px;
    top: 1734px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    /* or 104% */
    
    color: #FFFFFF;
}




/* Rectangle */

/* box-sizing: border-box;

position: absolute;
width: 170px;
height: 60px;
left: 997px;
top: 2063px;

background: rgba(13, 110, 253, 0.8);
border: 3px solid #FFFFFF;
border-radius: 8px; */


/* Join SCE */

.join-sce-button{
    /*position: absolute;*/
    width: 113px;
    height: 34px;
    left: 1026px;
    top: 2077px;
    
    font-family: 'Mina';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    /* or 158% */
    text-align: center;
    
    color: #FFFFFF;
}


