.tab-header {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.tab-title {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	cursor: pointer;
	background-color: #242424;
	/* we out here */
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
}

@media only screen and (max-width:1240px) {
	.tab-header {
		width:100% !important;
		background-color: rgb(177, 104, 9) !important;
	}
	.tab-title {

		justify-content: flex-end !important;
		margin-top: 40px;
	}
}
.circle {
	width: 100%;
	display: flex;
	position: relative;
	top: 30px;
}

.tab-title:active:focus {
	background-color: darkred;
}