table {
  width: 100%;
  text-align: center;
  border-spacing: 15% 15%;
}

.table-scroll {
  height: 35em;
}

.table-scroll {
  height: 35em;
  overflow: auto;
}

.table-component {
  margin-top: 5em;
  position: relative;
}

tr:nth-child(even) {
  background-color: #cacaca;
}

thead th { 
  position: sticky; 
  top: 0; 
  background-color: white;
  margin-top: 5%;
}

tr:nth-child(even) {
  background-color: #cfcfcf;
}

th, td {
  text-align: center;
  padding: 1em 0%;
}

tbody tr:hover {
  background-color: #5e5e5ef1;
  color: white;
}

.line-graph {
  padding-left: 2%;
  width: 50%;
}

.date-picker-component {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
  padding-top: 32px;
}

.date-picker {
  text-align: center;
  margin-left: 0.5em;
}

.select-date-text {
  display: flex;
  align-items: center;
}

.pie-chart {
  padding-left: 2%;
  width: 50%;
}

.visualizations {
  display: flex;
  justify-content: center;
}
