@import url('https://fonts.googleapis.com/css2?family=Mina&family=Montserrat:wght@800&display=swap');

.footer-wrap {
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-text p {
  font-family: 'Mina', sans-serif;
  color: rgb(180, 180, 180);
}

.footer-text b {
  font-size: large;
  font-family: 'Montserrat', sans-serif;
  color:#ffff;
}

.footer-text ul {
  list-style-type: none;
  padding-left: 0;
  padding-top: 10px;
}

.footer-text ul li {
  color: rgb(180, 180, 180);
  padding-top: 5px;
}

.footer-text a {
  color: lightblue;
  text-decoration: none;
}

.footer-text a svg {
  margin: 5px;
}

.social-media {
  width: 100%;
  text-align: center;
}
.social-media a svg {
   width: 30px;
   height: 30px;
}

#footer-note {
  width:100%;
  text-align: center;
}

#left-col {
  text-align: center;
  padding: 20px;
}

@media (max-width: 500px) {
  .social-media {
    align-items: center;
    justify-content: center;
  }
  #social-media a svg {
    width: 20px;
    height: 20px;
  }
}
