.request-card {
  background-color: #333 !important;
  margin-bottom: 0 !important;
}
.request-label-2 {
  display: none;
}

.request-info{
  margin-top: 0 !important;
}

@media only screen and (max-width: 1090px) {
  .request-label-1 {
    display: none;
  }
  .request-label-2 {
    display: block;
    margin-top: 10px;
  }
  #request-buttons {
    margin-top: 10px;
  }
}
