

.skeleton {
    background-color: #0000002c;

    width: 400px;
    height: 104px;
    margin: 16px;
}

.table {
    margin: 16px;
}
.table th {
    text-align: right;
    padding-right: 8px;
    border-right: 1px solid rgba(154, 154, 154, 0.496);
}

.table td {
    text-align: left;
    font-style: italic;
    padding-left: 8px;
    border-left: 1px solid rgba(154, 154, 154, 0.496);
}
