<!-- 
	PROJECT: 		Core-v4
	Name: 			Rolando Javier
	File: 			profiler.template.html
	Date Created: 	February 16, 2018
	Last Modified: 	February 16, 2018
	Details:
		This file serves as the html template for the profiler element
 -->
<div class="well">
	<div class="page-header">
		<h3 class="brand-text">
			Member Profiler
			<small>{{$ctrl.msg}}</small>
			<div style="color: red">{{$ctrl.errmsg}}</div>
		</h3>
	</div>
	<div class="container-fluid">
		<div class="row" style="margin-bottom: 10px">
			<div class="col-sm-6">
				<!-- BEGIN search controls -->
				<form role="search">
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-primary" ng-click="$ctrl.search(1)">
								Search by
							</button>
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{$ctrl.searchType}}
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#" ng-click="$ctrl.setSearchType('username')">username</a></li>
								<li><a href="#" ng-click="$ctrl.setSearchType('first name')">first name</a></li>
								<li><a href="#" ng-click="$ctrl.setSearchType('last name')">last name</a></li>
								<li><a href="#" ng-click="$ctrl.setSearchType('join date')">join date</a></li>
								<li><a href="#" ng-click="$ctrl.setSearchType('email')">email</a></li>
								<li><a href="#" ng-click="$ctrl.setSearchType('major')">major</a></li>
							</ul>
						</span>
						<input type="text" class="form-control" placeholder="Search" ng-model="$ctrl.searchTerm">
					</div>
				</form>
				<!-- END search controls -->
			</div>
			<div class="col-sm-6">
				<!-- BEGIN filter controls -->
				<div class="btn-group">
					<button type="button" class="btn btn-primary">Results Per Page:</button>
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{$ctrl.resultsPerPage}} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" ng-click="$ctrl.setResultsPerPage(10)">10</a></li>
						<li><a href="#" ng-click="$ctrl.setResultsPerPage(20)">20</a></li>
						<li><a href="#" ng-click="$ctrl.setResultsPerPage(50)">50</a></li>
						<li><a href="#" ng-click="$ctrl.setResultsPerPage(100)">100</a></li>
					</ul>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-primary" ng-click="$ctrl.decrementPage()">
						<i class="fas fa-angle-left"></i>
					</button>
					<button type="button" class="btn btn-primary">{{1 + $ctrl.pageNumber}}</button>
					<button type="button" class="btn btn-primary" ng-click="$ctrl.incrementPage()">
						<i class="fas fa-angle-right"></i>
					</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-primary">Match Mode:</button>
					<button type-"button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{$ctrl.searchMode}}</button>
					<ul class="dropdown-menu">
						<li><a href="#" ng-click="$ctrl.setSearchMode('exact')">Exact Match</a></li>
						<li><a href="#" ng-click="$ctrl.setSearchMode('word')">Words</a></li>
						<li><a href="#" ng-click="$ctrl.setSearchMode('regex')">Regex</a></li>
					</ul>
				</div>
				<!-- END filter controls -->
			</div>
		</div>
		<div id="memberModal" class="modal fade" tabindex="-1" role="dialog" aria-label="Member Detail Panel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="false">&times;</span>
						</button>
						<h4 class="modal-title member-detail-title">Member Details</h4>
					</div>
					<div class="modal-body member-detail-body">
						<div class="row">
							<!-- BEGIN Modal Left Pane -->
							<div class="col-sm-6">
								<!-- BEGIN User Thumbnail -->
								<a href="#" class="thumbnail">
									<img src="" alt="User's Thumbnail">
								</a>
								<!-- END User Thumbnail -->

								<!-- BEGIN User Info Column -->
								<div class="input-group">
									<span class="input-group-addon member-detail-label">
										Username
									</span>
									<input id="memberUserName" type="text" class="form-control" placeholder="Username">
								</div>
								<div class="input-group">
									<span class="input-group-addon member-detail-label">
										First Name
									</span>
									<input id="memberFirstName" type="text" class="form-control" placeholder="First Name">
								</div>
								<div class="input-group">
									<span class="input-group-addon member-detail-label">
										Middle Initial
									</span>
									<input id="memberMiddleInitial" type="text" class="form-control" placeholder="Middle Initial">
								</div>
								<div class="input-group">
									<span class="input-group-addon member-detail-label">
										Last Name
									</span>
									<input id="memberLastName" type="text" class="form-control" placeholder="Last Name">
								</div>
								<div class="input-group">
									<span class="input-group-addon member-detail-label">
										Email
									</span>
									<input id="memberEmail" type="text" class="form-control" placeholder="someone@email.com">
								</div>
								<div class="input-group">
									<span class="input-group-addon member-detail-label">
										Joined
									</span>
									<input id="memberJoinDate" disabled type="text" class="form-control" placeholder="Join Date">
								</div>
								<div class="input-group">
									<span class="input-group-addon member-detail-label">
										Major
									</span>
									<input id="memberMajor" type="text" class="form-control" placeholder="Major">
								</div>
								<!-- END User Info Column -->
							</div>
							<!-- END Modal Left Pane -->

							<!-- BEGIN User Stats Column -->
							<!-- Includes things like remaining print pages, etc. -->
							<div class="col-sm-6">
								<div class="input-group">
									asdfas
								</div>
							</div>
							<!-- END User Stats Column -->
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="tooltip" title="Click to discard any unsaved work and close the modal">Close</button>
						<button id="memberUpdate" type="button" class="btn btn-success" data-toggle="tooltip" title="Click to update this member's data">Save</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<!-- BEGIN result set table -->
					<table class="table" style="overflow: scroll; margin-top: 10px;">
						<thead>
							<th>MemberID</th>
							<th>Username</th>
							<th>Name</th>
							<th>Joined</th>
							<th>Email</th>
							<th>Major</th>
						</thead>
						<tbody>
							<tr ng-repeat="row in $ctrl.results">
								<td>{{row.memberID}}</td>
								<td>
									<button type="button" class="btn btn-default" ng-click="$ctrl.viewDetail($index)" data-toggle="tooltip" data-placement="left" title="View details">
										{{row.userName}}
									</button>
								</td>
								<td>{{row.firstName}} {{row.middleInitial}} {{row.lastName}}</td>
								<td>{{row.joinDate}}</td>
								<td>{{row.email}}</td>
								<td>{{row.major}}</td>
							</tr>
						</tbody>
					</table>
					<!-- END result set table -->
				</div>
			</div>
		</div>
	</div>
</div>