.Page{
  padding-top: 20px;
  display: inline-block;
}

.Panel{
  padding-left: 17%;
}

.Title {
  padding-top: 30px;
  padding-left: 0;
  margin-left: -4%;
}

.NameHead{
  padding-left: 3px;
}

#col1{
  margin-left: 0%;
}

#col2{
  margin-left: 12%;
}

#tab1 {
  margin: auto;
  padding-top: 5px;
  margin-left: -6%;
}
