.Page .card {
  height: auto;
  width: 20px;
}

.wholeCard {
  width: 480px !important;
  margin-top: 20px;
  margin-left: 0px;
}

.link {
  margin-top: 18px;
}

.SubTitle {
  padding-top: 0px;
  padding-left: 20px;
}

.description {
  padding-top: 5px;
  padding-left: 7px;
}

#rowCSS{
	padding-top: 20px;
	padding-bottom: 10px;
}

.icon-row{
  margin-left: -6px;
}
