.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px
}

.card-container {
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding: 25px;
  -mox-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  margin-top: 10px;
  margin-bottom: 10px;
}

.link {
  margin-left: 10px;
}

#quote {
  margin-top: 10px;;
}

@media screen and (max-width: 1000px) {
  .card-list { display: block; }  /* show it on small screens */
}
