.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    /* semi-transparent dark overlay */
    backdrop-filter: blur(4px);
    /* blurred background */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 33vh;
    z-index: 9999;
}

.input-wrapper {
    padding: 8px;
    background: white;
    border-radius: 8px;
    /* height: auto; */
}

.modal input {
    border: 1.5px solid darkgray;
    width: 35rem;
    border-radius: 0.25rem;
    padding: 0.75rem;
    height: 2.25rem;
    font-size: 1rem;
}

/* .suggestion-item:hover, */
.active {
    background: #3B82F6;
    color: white;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

.suggestion-list {
    background: lightcyan;
}

.hidden-tab {
    font-size: small;
    color: white;
}

/* .scrollable-list {
    max-height: 9.5rem;
    scrollbar-width: auto;
    overflow-y: scroll;
} */

/* Customize scrollbar */
/* .scrollable-list::-webkit-scrollbar {
    width: 8px;
    display: block;
    background: lightgray;
} */

/* .scrollable-list::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: gray;
} */