.shortcut-search-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    /* semi-transparent dark overlay */
    backdrop-filter: blur(4px);
    /* blurred background */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 33vh;
    z-index: 9999;
}

.shortcut-search-modal .input-wrapper {
    padding: 8px;
    background: white;
    border-radius: 8px;
    width: 35rem;
    /* height: auto; */
     /* max-width: 40rem; /* prevent overflow */
  /* width: 100%; */
}

.shortcut-search-modal input {
    border: 1.5px solid darkgray;
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.75rem;
    height: 2.5rem;
    font-size: 1.2rem;
}

.shortcut-search-modal .active {
    background: #3B82F6;
    color: white;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

.shortcut-search-modal .suggestion-list {
    background: #f1f5f9;
    font-size: 1.2rem;
    overflow-x: hidden;
}

.shortcut-search-modal .suggestion-item {
    height: 3.5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.shortcut-search-modal .hidden-tab {
    font-size: medium;
    color: lightgray;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .shortcut-search-modal .active {
        background: lightslategray;
    }

    .shortcut-search-modal .input-wrapper,
    .shortcut-search-modal .suggestion-list {
        background-color: #1e293b;
    }
}
