.container {
  margin: auto;
  width: 100%;
  padding-bottom: 100px;
  background: white;
  /* border: 1px solid black; */
}

.search-bar-container {
  background: #fdfdfd;
  border: 1px dashed rgb(196, 196, 196);
  padding: 30px;
  margin-bottom: 10px;
}

.table-container {
  background: #fdfdfd;
  border: 1px dashed rgb(196, 196, 196);
  padding: 30px;
  padding-bottom: 10px;
}

.spacer {
  width: 100%;
  padding: 10px;
}

.inventory-search-bar {
  width: 75%;
  margin: 0;
  padding: 5px 10px;
  border-radius: 2px;
  border: 2px solid grey;
  box-sizing: border-box;
  initial-letter-align: left;
  vertical-align: middle;
}

#inv-conf-button {
  background-color: #648cc0;
  color: white;
  border-color: rgb(108, 117, 125);
}

#inv-conf-button:hover {
  background-color: #648cc0;
  border-color: rgb(84, 91, 98);
}

.overview-icon {
  background-color: transparent;
  color: grey;
  padding: 5px;
  margin: 5px;
}

.overview-icon:hover {
  padding: 5px;
  color: red;
  cursor: pointer;
}

.button-div {
  display: inline-flex;
  vertical-align: middle;
}

.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  max-width: 700px;
  min-width: 700px;
}

.item-image {
  max-width: 100px;
  max-height: 100px;
}

.inventory-table {
  table-layout: fixed;
  width: 100%;
}

.inventory-table td {
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
}

.row-image,
.row-category,
.row-name,
.row-edit {
  width: 15%;
}

.row-price,
.row-quantity {
  width: 10%;
}

.row-description {
  width: 20%;
}
