.container {
  margin: auto;
  width: 100%;
  padding-bottom: 100px;
  background: white;
}

.search-bar-container {
  background: #fdfdfd;
  border: 1px dashed rgb(196, 196, 196);
  padding: 30px;
  margin-bottom: 10px;
}

.table-container {
  background: #fdfdfd;
  border: 1px dashed rgb(196, 196, 196);
  padding: 30px;
  padding-bottom: 10px;
}

.spacer {
  width: 100%;
  padding: 10px;
}

.inventory-search-bar {
  width: 75%;
  margin: 0;
  padding: 5px 10px;
  border-radius: 2px;
  border: 2px solid grey;
  box-sizing: border-box;
  initial-letter-align: left;
  vertical-align: middle;
}

.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  max-width: 700px;
  min-width: 700px;
}

.item-image {
  max-width: 100px;
  max-height: 100px;
}

.inventory-table {
  table-layout: fixed;
  width: 100%;
}

.inventory-table td {
  overflow: auto;
  text-overflow: clip;
}

.inventory-table tr {
  background-color: white;
  color: black;
}

.inventory-table tr:hover {
  background-color: #ebebeb;
  color: black;
}

.row-image {
  width: 15%;
}

@media (max-width: 768px) {
  .row-image,
  .row-description {
    display: none;
  }
}

.row-category,
.row-name,
.row-edit {
  width: 15%;
}

.row-price {
  width: 10%;
}

.row-quantity {
  width: 13%;
}

.row-description {
  width: 17%;
}
