.event-list {
  padding-bottom: 30px;
}

.event-background {
  background: linear-gradient(90deg, rgb(4, 27, 56) , rgb(33, 139, 172));
  min-width: 1000px;
}

.event-card-button {
  width: 80%;
  min-width: 888px;
  padding: 1%;
  min-height: 150px;
  margin-top: 2.5%;
  border-radius: 10px;
  border-width: thin;
  outline: transparent !important;
  border: transparent;
  background: #e0e0e0;
}

.event-title {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  color: #000000;
  justify-content: center;
}

.event-date {
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  color: #0098ab;
  align-items: center;
  justify-content: center;
  
}

.event-location {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: #414141bd;
  align-items: center;
  justify-content: center;
}

.event-image {
  width: 33%;
  float: left;
  max-width: 300px;
  max-height:150px;
  border-radius: 10px;
}

.image-container > img {
  max-width: 7rem;
  max-height: 7rem;
  object-fit: contain;
}

.modal-event-title {
  font-size: 188%;
}

.modal-event-date {
  font-style: italic;
  font-weight: bold;
  color: #0098ab;
  font-size: 138%;
  align-items: center;
}

.modal-event-location {
  font-style: normal;
  font-weight: normal;
  color: #414141bd;
  font-size: 138%;
  align-items: center;
}

.modal-event-image {
  width:auto; 
  text-align:center; 
  padding:20px; 
}
