.event-list {
  padding-top: 20px;
  padding-bottom: 30px;
}

.event-background {
  min-height: 100vh;
  min-width: 100vw;
}

.event-card-button {
  width: 90%;
  padding: 1%;
  min-width: 480px;
  min-height: 300px;
  margin-top: 2.5%;
  outline: transparent !important;
  border: transparent;
  background: #fcfcfc; 
  box-shadow: 10px 10px 30px rgb(105, 103, 103);
}

.event-title {
  white-space: wrap;
  font-weight: bold;
  font-size: 2.7rem;
  color: #2e0e49;
  overflow: hidden;
  max-width: 100%;
}

.event-info {
  font-size: 1.7rem;
  color: #504579;
  display: block !important; 
  text-overflow: ellipsis;
  text-align: left;
  max-width: 100%;
}

.event-image {
  float: right;
  height: 40vh;
  max-width: 40%; 
  border-radius: 5px;
}

.event-text-block {
  max-width: 66%;
  padding-right:50px;
  padding-left: 50px;
  overflow-wrap: break-word;
}

@media screen and (max-width: 1100px) { 
  .event-image { display: none; } 
  .event-text-block { max-width: 100%; padding: 10%; } 
  .event-card-button { min-width: 100% }  
  .event-info { margin: 0 !important; padding: 0px !important; }
  .event-title{ margin: 0 !important; padding-right: 50px !important; } 
  .event-location{ margin: 0 !important; } 
}

.image-container > img {
  max-width: 7rem;
  max-height: 7rem;
  object-fit: contain;
}

.modal-event-border .modal-content{
  border-radius: 10px;
}

.modal-event-title {
  font-size: 2.5rem;
  font-weight: bold;
  word-break:break-all;
  text-align: -webkit-left;
}

.modal-event-date {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: bold;
  color: #0098ab;
  word-break:break-all;
  text-align: -webkit-left;
}

.modal-event-location {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  color: #414141bd;
  word-break:break-all;
  text-align: -webkit-left;
}

.modal-event-description {
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  word-break:break-all;
  padding-right: 5%;
}

.modal-event-image {
  width:auto; 
  text-align:center; 
  padding:20px; 
}
