@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300&&display=swap');

.officer-body {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
}

.officer-body h2 { 
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:#124559;
    font-size: 40px;
    padding-bottom: 20px;
}

.card {
    width: 265px;
    height: 420px;
    display: block;
    background-color: #195780;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 2px grey;
    color: whitesmoke;  
    border: transparent;
    border-radius: 0px;
}

.linkedin-svg :hover {
    cursor: pointer;
}

.top-card {
    background-position: center;
    background-size: cover;
    width: 265px;
    height: 345px;
    opacity:100%;
}

.bottom-card {
    width: 265px;
    height: 345px;
    background-color: #04395E;
    color: #f3f3f3;
    opacity: 0%;
    padding: 10px 10px 0px 10px;
}

.wrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: initial;
}
.no-wrap {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 12;
    overflow: hidden;
}

.bottom-card:hover {
    opacity: 80%;
}

.card:hover {
    transform: scale(1.05);
}

.grid-container {
    display: grid;
    display: -ms-grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    justify-content: center;
}

.officer-text {
    width: 85%;
}

.officer-position {
    width: 100%;
    display: inline-flex;
    font-weight: light;
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
}

.card-container {
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 24px;
}

.card-container h3 {
    font-weight: bold;
    font-size: 24px;
}

.circle {
    width: 170px;
    height: 170px;
    max-width: none;
    min-height: auto;
    min-width: 170px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    transition: all .6s ease-in-out;
    background-color: #386783;
}

.circle-container {
    background-color: #04395E;
    width: 170px;
    height: 170px;
    min-height: auto;
    min-width: 170px;
    border-radius: 100%;
    color: #f3f3f3;
    text-align: center !important;
    opacity: 0%;
    line-height: 150px !important;
}

.circle-container p {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.circle-container:hover {
    opacity: 80%;
}

.officer-container {
    padding-top: 50px;
    margin-bottom: 100px;
}

.grid-container-circle {
    display: grid;
    margin-bottom: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 0.51fr 0.51fr 0.51fr 0.51fr 0.51fr 0.51fr;
    grid-template-columns: 0.51fr 0.51fr 0.51fr 0.51fr 0.51fr 0.51fr;
    -ms-grid-rows: minmax ( 2px, 0.51fr) minmax ( 1px, 0.51fr) minmax ( 2px, 0.51fr);
    grid-template-rows: minmax (2px, 0.51fr) minmax (1px, 0.51fr) minmax (2px, 0.51fr);
    border-radius: 0px;
    justify-content: center;
}
@media (max-width: 400px) {
    .officer-body {
        padding-left: 0px;
        padding-right: 0px;
    }

    .officer-body h2 { 
        font-size: 35px;
        text-align: center;
    }

    .grid-container {
        -ms-grid-columns: 0.7fr;
        grid-template-columns: 0.7fr;
        grid-column-gap: 0px;
    }

    .grid-container-circle {
        -ms-grid-columns: 0.51fr;
        grid-template-columns: 0.51fr;
    }
}
@media (min-width: 400px) and (max-width: 600px) {
    .officer-body {
        padding-left: 10px;
        padding-right: 0px;
    }

    .officer-body h2 { 
        font-size: 35px;
        text-align: center;
    }

    .grid-container {
        -ms-grid-columns: 0.7fr;
        grid-template-columns: 0.7fr;
        grid-column-gap: 0px;
    }

    .grid-container-circle {
        -ms-grid-columns: 0.51fr 0.51fr;
        grid-template-columns: 0.51fr 0.51fr;
    }
}
@media (min-width: 600px) and (max-width: 768px) {
    
    .grid-container {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .grid-container-circle {
        -ms-grid-columns: 0.51fr 0.51fr;
        grid-template-columns: 0.51fr 0.51fr;
        column-gap: 10px;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    
    .grid-container {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .grid-container-circle {
        -ms-grid-columns: 0.51fr 0.51fr 0.51fr;
        grid-template-columns: 0.51fr 0.51fr 0.51fr;
        column-gap: 10px;
    }
}


@media (min-width: 900px) and (max-width: 1024px) {
    .grid-container {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .grid-container-circle {
        -ms-grid-columns: 0.51fr 0.51fr 0.51fr;
        grid-template-columns: 0.51fr 0.51fr 0.51fr;
    }
}


@media (min-width: 1024px) and (max-width: 1200px) {
    .grid-container {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-container-circle {
        -ms-grid-columns: 0.51fr 0.51fr 0.51fr 0.51fr;
        grid-template-columns: 0.51fr 0.51fr 0.51fr 0.51fr;
    }
    
}

@media (min-width: 1200px) {
    .grid-container {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .grid-container-circle {
        -ms-grid-columns: 0.51fr 0.51fr 0.51fr 0.51fr 0.51fr;
        grid-template-columns: 0.51fr 0.51fr 0.51fr 0.51fr 0.51fr;
    }
}
