@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300&&display=swap');

.officer-body {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

.officer-body h1 { 
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:#124559;
    font-size: 40px;
}

.officer-body h2, h3, p {
    min-width: 200;
}

.card {
    max-width: 250px;
    max-height: 325px;
    min-height: 325px;
    display: block;
    background-color: #195780;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 2px grey;
    color: whitesmoke;  
    border: transparent;
    border-radius: 0px;
}

.linkedin-svg :hover{
  cursor: pointer;
}

.top-card {
    background-position: center;
    background-size: cover;
    max-width: 250px;
    max-height: 250px;
    min-height: 250px;
    opacity:100%;
}

.bottom-card {
    max-width: 250px;
    max-height: 250px;
    min-height: 250px;
    background-color: #04395E;
    color: #f3f3f3;
    opacity: 0%;
    padding: 10px 10px 0px 10px;
}

.wrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: initial;
}

.no-wrap {
    overflow: hidden;
    text-overflow: ellipsis !important;
    overflow-wrap: initial;
}

.bottom-card:hover {
    opacity: 80%;
}

.card:hover{
    transform: scale(1.05);
}

.grid-container {
    display: grid;
    display: -ms-grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 14px;
    grid-column-gap: 14px;
}

.officer-text {
    width: 85%;
}

.officer-position {
    width: 100%;
    display: inline-flex;
    font-weight: light;
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
}

.card-container {
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 24px;
}

.card-container h3 {
    font-weight: bold;
    font-size: 24px;
}

.circle {
    width: 115px;
    height: 115px;
    max-width: none;
    min-height: auto;
    min-width: 115px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    transition: all .6s ease-in-out;
}

.circle-container {
    background-color: #386783;
    width: 115px;
    height: 115px;
    min-height: auto;
    min-width: 115px;
    border-radius: 100%;
    color: #f3f3f3;
    text-align: center !important;
    opacity: 0%;
    line-height: 115px !important;
}

.circle-container p {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.circle-container:hover {
    opacity: 80%;
}

.officer-container {
    padding-top: 50px;
    margin-bottom: 100px;
}

.grid-container-circle {
    display: grid;
    margin-bottom: 20px;
    grid-row-gap: 40px;
    -ms-grid-columns: 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr;
    grid-template-columns: 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr;
    -ms-grid-rows: minmax ( 2px, 0.7fr) minmax ( 1px, 0.7fr) minmax ( 2px, 0.7fr);
    grid-template-rows: minmax (2px, 0.7fr) minmax (1px, 0.7fr) minmax (2px, 0.7fr);
    border-radius: 0px;
}

@media (max-width: 576px) {
    .grid-container {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .grid-container-circle{
        -ms-grid-columns: 0.7fr 0.7fr;
        grid-template-columns: 0.7fr 0.7fr;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .grid-container {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .grid-container-circle {
        -ms-grid-columns: 0.7fr 0.7fr 0.7fr;
        grid-template-columns: 0.7fr 0.7fr 0.7fr;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .grid-container {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-container-circle {
        -ms-grid-columns: 0.7fr 0.7fr 0.7fr 0.7fr;
        grid-template-columns: 0.7fr 0.7fr 0.7fr 0.7fr;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .grid-container {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .grid-container-circle {
        -ms-grid-columns: 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr;
        grid-template-columns: 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr;
    }
    
}

@media (min-width: 1200px) {
    .grid-container {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .grid-container-circle {
        -ms-grid-columns: 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr;
        grid-template-columns: 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr;
    }
}
