@keyframes card-transition {
  from {
    transform: translateY(35%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.card-subtitle {
  color: #b2b2b2;
}

.course-card {
  transition: all .1s ease-in-out;
  animation-name: card-transition;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  position: relative;
}

.course-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.course-card:hover .edit-button {
  visibility: visible;
  cursor: pointer;
}

.course-card img {
  height: 28vh;
  width: auto;
  object-fit: cover;
}

.card-body {
  overflow: auto;
}

.edit-button {
  position: absolute;
  visibility: hidden;
  right: 10px;
  top: 10px;
}

.course-card .edit-button {
  background-color: #73B1D1;
  border-color: #73B1D1;
  color: white;
  font-size: 0.75em;
  padding: 0.8em 1.2em;
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: 500;
  outline: 0;
  border: 0;
}

.course-card .edit-button:hover {
  background-color: #54a0c9;
  border-color: #54a0c9;
  color:#43464dd0;
  font-weight: 500;
}

.course-card .edit-button:active {
  color: #43464D;
  background-color: #4f90b3;
  border-color: #4f90b3;
}

.card-title h2, 
.card-subtitle, 
.card-text {
  text-align: left;
}

.card-subtitle, .card-text {
  font-size: 90%;
}

@media (max-width: 576px) {
  .card-col {
    margin-bottom: 3em;
  }
}
