<!-- 
	PROJECT: 		Core-v4
	Name: 			Rolando Javier
	File: 			core.html
	Date Created: 	January 25, 2018
	Last Modified: 	January 25, 2018
	Details:
		This file serves as a function test page for the MEANserver project
 -->

<!DOCTYPE html>
<html lang="en" ng-app="adminPortal">
<!-- BEGIN header -->
<head>
	<!-- Metadata -->
	<meta charset="UTF-8">
	<meta name="description" content="SCE Core Administrator's Portal">
	<meta name="keywords" content="SCE,core,admin,portal">
	<meta name="author" content="R. Javier">
	<meta name="last-modified" content="January 25, 2018">

	<!-- Phone Screen Compatibility -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Tab Title -->
	<title>Core v4 Admin</title>

	<!-- Standard Includes -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="css/core.css">
</head>
<!-- END header -->



<!-- BEGIN body -->
<body>
	<div class="container-fluid">
		<!-- BEGIN title -->
		<div class="row">
			<div class="col-sm-12">
				<div class="page-header centered-text">
					<h1 class="portal-title">
						Core v4
					</h1>
					<h4 class="portal-slug">Administrator Portal</h4>
				</div>
			</div>
		</div>
		<!-- END title -->

		<!-- BEGIN login prompt -->
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<div id="credentialsBox" ng-controller="loginCredentials as credentials" class="box max-height wide-centered">
					<img id="sceLogo" src="img/SCE-glow.png" alt="SCE Glow Logo">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fas fa-user-circle"></i>
						</span>
						<input type="text" class="form-control sce-input-bar" ng-model="credentials.user" placeholder="username">
					</div>
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fas fa-key"></i>
						</span>
						<input type="password" class="form-control sce-input-bar" ng-model="credentials.pwd" placeholder="password">
					</div>
					<div class="btn-group max-width">
						<button class="btn btn-success btn-block" ng-click="credentials.submit()">
							<i class="fas fa-sign-in-alt"></i>
							Login
						</button>
					</div>
					<div id="submissionResponse">
						<div class="status-display">
							{{credentials.status}}
						</div>
						<div class="error-display">
							{{credentials.response}}
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4"></div>
		</div>
		<!-- END login prompt -->
	</div>
</body>
<!-- END body -->



<!-- BEGIN footer -->
<footer>
	<script type="text/javascript" src="../js/lib/utility.js"></script>
	<script type="text/javascript" src="js/core.js"></script>
</footer>
<!-- END footer -->
 </html>