<!-- 
	PROJECT: 		Core-v4
	Name: 			Rolando Javier
	File: 			dashboard.html
	Date Created: 	January 28, 2018
	Last Modified: 	February 15, 2018
	Details:
		This file serves as the SCE Core Admin Dashboard
 -->

<!DOCTYPE html>
<html lang="en" ng-app="adminDashboard">
<!-- BEGIN header -->
<head>
	<!-- Metadata -->
	<meta charset="UTF-8">
	<meta name="description" content="SCE Core Administrator's Dashboard">
	<meta name="keywords" content="SCE,core,admin,dashboard">
	<meta name="author" content="R. Javier">
	<meta name="last-modified" content="January 28, 2018">

	<!-- Phone Screen Compatibility -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Tab Title -->
	<title>Core v4 Admin Dashboard</title>

	<!-- Standard Includes -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="css/dashboard.css">

	<!-- Angular Components -->
	<script type="text/javascript" src="components/officer_tools/officer_tools.module.js"></script>
	<script type="text/javascript" src="components/officer_tools/officer_tools.component.js"></script>
	<script type="text/javascript" src="components/doorcoder/doorcoder.module.js"></script>
	<script type="text/javascript" src="components/doorcoder/doorcoder.component.js"></script>
	<script type="text/javascript" src="components/membership_manager/membership_manager.module.js"></script>
	<script type="text/javascript" src="components/membership_manager/membership_manager.component.js"></script>
	<script type="text/javascript" src="components/profiler/profiler.module.js"></script>
	<script type="text/javascript" src="components/profiler/profiler.component.js"></script>
</head>
<!-- END header -->



<!-- BEGIN body -->
<body ng-app="adminDashboard">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<!-- BEGIN navbar header and logo -->
			<div class="navbar-header">
				<a href="#" class="navbar-brand">
					<span class="brand-text">
						<img alt="SCE Core" src="img/SCE-glow.png" class="brand-logo">
						Core v4
					</span>
				</a>
			</div>
			<!-- END navbar header and logo -->

			<div class="collapse navbar-collapse" id="core-navbar">
				<ul class="nav navbar-nav">
					<!-- BEGIN context dropdown -->
					<li class="dropdown">
						<a href="#" id="control-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-caret-down"></i></a>
						<ul class="dropdown-menu" aria-labelledby="control-dropdown" ng-controller="ContextController">
							<li><a href="#" ng-click="showPanel('member-profiler')"><i class="fas fa-users"></i> Member Profiler</a></li>
							<li><a href="#" ng-click="showPanel('session-manager')"><i class="fas fa-desktop"></i> Session Manager</a></li>
							<li><a href="#" ng-click="showPanel('officertools')"><i class="fas fa-gavel"></i> Officer Tools</a></li>
						</ul>
					</li>
					<!-- END context dropdown -->
				</ul>

				<!-- BEGIN navbar misc info -->
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown" ng-controller="UserController">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							Welcome, {{username}}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu user-option-menu">
							<li><a href="#" ng-click="logout()"><span class="user-option-text"><i class="fas fa-sign-out-alt"></i>Logout</span></a></li>
						</ul>
					</li>
				</ul>
				<!-- END navbar misc info -->
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<profiler id="member-profiler"></profiler>
				<sessionmanager id="session-manager" class="hidden">Some stuff here</sessionmanager>
				<span ng-controller="UserDataController">
					<officertools id="officertools" currentuser="this.username" sid="this.sessionID" class="hidden"></officertools>
				</span>
			</div>
		</div>
	</div>
</body>
<!-- END body -->



<!-- BEGIN footer -->
<footer>
	<script type="text/javascript" src="../lib/utility.js"></script>
	<script type="text/javascript" src="js/dashboard.js"></script>
</footer>
<!-- END footer -->
 </html>